---
title: Về chương trình
description: Cách chương trình này sẽ trao quyền cho người dân California để họ lên tiếng và ảnh hưởng đến chính sách.
keywords:
  - engagement
  - issues
  - california
  - government
tags:
  - pages
---
{% extends "../_includes/base-about.njk" %}
