---
description: Engaged California là một nền tảng trực tuyến giúp người dân California dễ dàng có tiếng nói trong chính phủ.
keywords:
  - engagement
  - issues
  - california
  - government
---
{% extends "../_includes/base-homepage.njk" %}
