{# Sign up band, left-aligned as on the efficiency report. Expects modules.sign_up. #}
<section id="stay-informed" class="style-body-text section-navy">
  <img src="/public/images/bubble-cluster-1.svg" class="signup-cluster-1" aria-hidden="true" alt="" />
  <img src="/public/images/bubble-cluster-2.svg" class="signup-cluster-2" aria-hidden="true" alt="" />
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="signup-engaged-section">
          {{ modules.sign_up.content | safe }}
          <a href="https://join.engaged.ca.gov/" data-appearance="button" data-theme="orange">
            {{ modules.sign_up.button_text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
