<section id="hero">
  <div class="container banner-flex">
    <engca-banner-content>
      {% set hero = collections.snippets | getSnippet("homepage_hero",locale) %}
      {{ hero.htmlContent | safe }}
      <a href="#sign-up" data-appearance="button" data-theme="orange">
        {{ hero.data.buttonText }}
      </a>
    </engca-banner-content>
    <img src="/public/images/hero-bubbles.svg" aria-hidden="true" class="desktop-only" alt="{{ 'home-alt-header' | i18n }}" />
  </div>
</section>
<section id="about">
  <div class="container banner-flex">
    <engca-banner-content>
      {% set aboutSection = collections.snippets | getSnippet("homepage_about-section",locale) %}
      {{ aboutSection.htmlContent | safe }}
      <a href="{{ "/about" | locale_url }}" data-appearance="button" data-theme="off-white">
        {{ aboutSection.data.buttonText }}
      </a>
    </engca-banner-content>
    <img src="/public/images/about-bubbles.svg" aria-hidden="true" class="desktop-only" alt="{{ 'home-alt-header-about' | i18n }}" />
  </div>
</section>
<section id="our-first-engagement">
  {% set firstEngSection = collections.snippets | getSnippet("homepage_first-eng",locale) %}
  <div class="container first-eng-content">
    {{ firstEngSection.htmlContent | safe }}
    <a href="{{ "/lafires-recovery" | locale_url }}" data-appearance="button" data-theme="orange">
      {{ firstEngSection.data.buttonText }}
    </a>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <h2>{{ 'how-it-works' | i18n }}</h2>
    <ol class="hiw">
      <li class="hiw-step-1">
        <img src="/public/images/how-it-works-public.svg" alt="{{ 'how-it-works-alt-1' | i18n }}" />
        <span class="hiw-text">{{ 'how-it-works-step-1' | i18n }}</span>
        <span class="hiw-arrow"></span>
      </li>
      <li class="hiw-step-2">
        <img src="/public/images/how-it-works-state.svg" alt="{{ 'how-it-works-alt-2' | i18n }}" />
        <span class="hiw-text">{{ 'how-it-works-step-2' | i18n }}</span>
        <span class="hiw-arrow"></span>
      </li>
      <li class="hiw-step-3">
        <img src="/public/images/how-it-works-public.svg" alt="{{ 'how-it-works-alt-1' | i18n }}" />
        <span class="hiw-text">{{ 'how-it-works-step-3' | i18n }}</span>
        <span class="hiw-arrow"></span>
      </li>
      <li class="hiw-step-4">
        <img src="/public/images/how-it-works-state.svg" alt="{{ 'how-it-works-alt-2' | i18n }}" />
        <span class="hiw-text">{{ 'how-it-works-step-4' | i18n }}</span>
      </li>
    </ol>
  </div>
</section>
<section id="sign-up">
  <div class="container form-flex">
    <img src="/public/images/bubble-cluster-1.svg" class="signup-cluster-1" aria-hidden="true" alt="" />
    <img src="/public/images/bubble-cluster-2.svg" class="signup-cluster-2" aria-hidden="true" alt="" />
    {% include "form.njk" %}
  </div>
</section>
<section id="partners">
  <div class="container">
    {% set partners = collections.snippets | getSnippet("homepage_partners",locale) %}
    {{ partners.htmlContent | safe }}
    <engca-partner-flex>
      <img src="/public/images/carnegie.svg" alt="Carnegie Endowment for International Peace" />
      <img src="/public/images/liberty-color.png" alt="Project Liberty Institute" />
      <img src="/public/images/berggruen.svg" alt="Berggruen Institute" />
      <img src="/public/images/stanford.png" alt="Stanford Deliberative Democracy Lab, Center on Democracy, Development and the Rule of Law" />
      <img src="/public/images/berkman-klein.svg" alt="Berkman Klein Center for internet & society at Harvard University" />
      <img src="/public/images/ppic.svg" alt="PPIC" />
      <img src="/public/images/sff.png" alt="San Francisco Foundation" />
      <img src="/public/images/american-public-trust.png" alt="The American Public Trust" />
      <img src="/public/images/public-good-group.png" alt="Public Good Group" />
      <img src="/public/images/goldman-school.svg" alt="UC Berkeley Center on Civility & Democratic Engagement, Goldman School of Public Policy, Founded by the Class of 1968" />
      <img src="/public/images/kapor-center.svg" alt="Kapor Center" />
    </engca-partner-flex>
  </div>
</section>
