{% extends "form.njk" %}

{% block formAction %}
  {{ action.data("61200a6dda", "0003e1e3f0") }}
{% endblock formAction %}

{% block formHeading %}
  <p>{{ modules.signup.content | safe }}</p>
{% endblock formHeading %}

{% block formEmail %}
  {{ 'email-label' | i18n }}
{% endblock formEmail %}

{% block formContent %}
  <ul class="form-radio-list">
  <li>
    {{ radio.merge_field_data('topic-los-angeles-fires-recovery-evacuation-eaton' | i18n, "Eaton", "Yes, I was in the Eaton fire evacuation zone", "EVACZONE") }}
  </li>
  <li>
    {{ radio.merge_field_data('topic-los-angeles-fires-recovery-evacuation-palisades' | i18n, "Palisades", "Yes, I was in the Palisades fire evacuation zone", "EVACZONE" ) }}
  </li>
  <li>
    {{ radio.merge_field_data('topic-los-angeles-fires-recovery-no-evacuation' | i18n, "No", "No", "EVACZONE" ) }}
  </li>
  </ul>
{% endblock formContent %}

{% block formSubmit %}
  {% import "form-submit.njk" as submit %}
  {{ submit.data('ge-submit' | i18n) }}
{% endblock formSubmit %}
