<script>
document.addEventListener('DOMContentLoaded', function() {
    fetch("/public/data/lafires_voting_data_v1.json", {})
    .then(response => response.json())
    .then(data => {
      // console.log("Data fetched:", data);
      chart_data = data;
      setup_topic_chart(chart_data); // consensus chart wants to be loaded second, otherwise it doesn't render -- need to figure out why
      setup_consensus_chart(chart_data);
    })
    .catch(error => {
      console.error("Error fetching data:", error);
    });


  /* ACCORDIONS */
  function toggleRespondingVisibility(button, contClass, buttonClass) {
    const barchartContainer = document.querySelector(`.${contClass}`);
    const showAllButtonLabel = document.querySelector(`.${buttonClass}`);
    let isCollapsed = barchartContainer.classList.contains('collapsed');
    
    barchartContainer.classList.toggle('collapsed');
    isCollapsed = !isCollapsed;
    button.setAttribute('aria-expanded', !isCollapsed);

    const openText = '{{ modules.findings_how_we_are_responding.buttonText }}';
    const closeText = '{{ modules.findings_how_we_are_responding.buttonTextClose }}';

    showAllButtonLabel.textContent = isCollapsed ? openText : closeText;
    showAllButtonLabel.classList.toggle('open', !isCollapsed);
  }

  document.getElementById('findings-responding-show-all-button').addEventListener('click', function(event) {
    console.log("GOT CLICK")
    toggleRespondingVisibility(this, 'findings-responding-list-container', 'findings-responding-show-all-button-label');
  });


});

</script>