<script>

// These are precomputed by setting the topics chart to "compute-coords" mode.  Clicking on the chart produces these lists of
// precomputed coordinates in the debugger

let topic_coords_dict = {
19:[
    [
        1251.5,
        10,
        1
    ],
    [
        1300.7,
        10,
        1
    ],
    [
        1349.9,
        10,
        1
    ],
    [
        1448.9,
        10.2,
        1
    ],
    [
        1276.1,
        10,
        1
    ],
    [
        1399.3,
        10,
        1
    ],
    [
        1424.1,
        9.9,
        1
    ],
    [
        1374.5,
        10.1,
        1
    ],
    [
        1324.9,
        51.4,
        1
    ],
    [
        879.8,
        132.1,
        1
    ],
    [
        1300.4,
        51.2,
        1
    ],
    [
        1325.3,
        10.2,
        1
    ],
    [
        1312.9,
        30.7,
        1
    ],
    [
        1288.3,
        30.6,
        1
    ],
    [
        1386.6,
        30.9,
        1
    ],
    [
        1112.9,
        110.1,
        1
    ],
    [
        1349.4,
        51.4,
        1
    ],
    [
        901.4,
        144.6,
        1
    ],
    [
        1337.4,
        30.8,
        1
    ],
    [
        1263.7,
        30.5,
        1
    ],
    [
        1013.3,
        138.2,
        1
    ],
    [
        1435.8,
        31.5,
        1
    ],
    [
        1251.7,
        50.5,
        1
    ],
    [
        1312.4,
        71.8,
        1
    ],
    [
        1137.7,
        111.6,
        1
    ],
    [
        1362,
        30.8,
        1
    ],
    [
        1398.4,
        51.8,
        1
    ],
    [
        1162.5,
        112.9,
        1
    ],
    [
        1411.2,
        31.1,
        1
    ],
    [
        858.1,
        144.6,
        1
    ],
    [
        1276,
        51.1,
        1
    ],
    [
        1385.4,
        72.3,
        1
    ],
    [
        1099.4,
        130.7,
        1
    ],
    [
        1423,
        52.2,
        1
    ],
    [
        1459.9,
        32.2,
        1
    ],
    [
        1409.8,
        72.5,
        1
    ],
    [
        1204.7,
        131.1,
        1
    ],
    [
        1288.2,
        71.7,
        1
    ],
    [
        1361,
        72.1,
        1
    ],
    [
        1300.1,
        92.3,
        1
    ],
    [
        705.9,
        156.6,
        1
    ],
    [
        1396.3,
        92.9,
        1
    ],
    [
        1264,
        71.4,
        1
    ],
    [
        1324.1,
        92.4,
        1
    ],
    [
        1336.7,
        71.9,
        1
    ],
    [
        1459.9,
        73.4,
        1
    ],
    [
        1373.9,
        51.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1180,
        130.2,
        1
    ],
    [
        1434.4,
        73.1,
        1
    ],
    [
        1348.2,
        92.5,
        1
    ],
    [
        1078.6,
        117,
        1
    ],
    [
        1288.1,
        112.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1276,
        92,
        1
    ],
    [
        1420.3,
        93.4,
        1
    ],
    [
        1311.8,
        112.8,
        1
    ],
    [
        1372.3,
        92.7,
        1
    ],
    [
        1447.7,
        52.8,
        1
    ],
    [
        1467.1,
        96,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1124.1,
        132.4,
        1
    ],
    [
        731.2,
        157,
        1
    ],
    [
        1383.1,
        113.3,
        1
    ],
    [
        1444,
        94.3,
        1
    ],
    [
        1064.8,
        137.6,
        1
    ],
    [
        1359.4,
        113,
        1
    ],
    [
        1276.2,
        133.1,
        1
    ],
    [
        1406.8,
        113.7,
        1
    ],
    [
        1251.8,
        91.8,
        1
    ],
    [
        1430.3,
        114.4,
        1
    ],
    [
        996.9,
        157,
        1
    ],
    [
        1149,
        133.8,
        1
    ],
    [
        1264.5,
        112.4,
        1
    ],
    [
        1240.2,
        71.4,
        1
    ],
    [
        1241.1,
        112.1,
        1
    ],
    [
        1299.6,
        133.2,
        1
    ],
    [
        1335.6,
        112.9,
        1
    ],
    [
        923,
        157,
        1
    ],
    [
        1477.1,
        118.2,
        1
    ],
    [
        1370.2,
        133.6,
        1
    ],
    [
        1346.7,
        133.4,
        1
    ],
    [
        1417,
        134.6,
        1
    ],
    [
        834.5,
        153,
        1
    ],
    [
        1264.3,
        153.5,
        1
    ],
    [
        1393.7,
        134,
        1
    ],
    [
        879.7,
        157,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1323.2,
        133.2,
        1
    ],
    [
        1216.1,
        153.1,
        1
    ],
    [
        1453.7,
        115.8,
        1
    ],
    [
        1404.3,
        154.6,
        1
    ],
    [
        1287.6,
        153.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1252.8,
        132.9,
        1
    ],
    [
        1110.5,
        153,
        1
    ],
    [
        1252.1,
        174.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1381,
        154.2,
        1
    ],
    [
        388.7,
        157,
        1
    ],
    [
        802,
        156.9,
        1
    ],
    [
        1427.5,
        155.3,
        1
    ],
    [
        1064.1,
        162.3,
        1
    ],
    [
        1334.3,
        153.7,
        1
    ],
    [
        1310.9,
        153.6,
        1
    ],
    [
        1191.4,
        152.2,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1241.4,
        153.4,
        1
    ],
    [
        1391.8,
        174.8,
        1
    ],
    [
        1166.6,
        151.1,
        1
    ],
    [
        1298.8,
        174,
        1
    ],
    [
        180.9,
        156.8,
        1
    ],
    [
        1440.1,
        135.5,
        1
    ],
    [
        655.9,
        153,
        1
    ],
    [
        1357.7,
        153.9,
        1
    ],
    [
        1275.5,
        174,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        756.2,
        156.7,
        1
    ],
    [
        1229.6,
        132.7,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1450.8,
        156.5,
        1
    ],
    [
        1085.8,
        151.1,
        1
    ],
    [
        1438.1,
        176,
        1
    ],
    [
        1345.3,
        174.2,
        1
    ],
    [
        680.6,
        157,
        1
    ],
    [
        1462.9,
        137.1,
        1
    ],
    [
        1368.6,
        174.4,
        1
    ],
    [
        1202.9,
        174,
        1
    ],
    [
        1135.2,
        154.5,
        1
    ],
    [
        1228.9,
        174,
        1
    ],
    [
        1240.2,
        195,
        1
    ],
    [
        1322.1,
        174.1,
        1
    ],
    [
        1263.5,
        194.6,
        1
    ],
    [
        1415,
        175.3,
        1
    ],
    [
        1274.6,
        215.4,
        1
    ],
    [
        1474.7,
        157.5,
        1
    ],
    [
        1402.8,
        195.5,
        1
    ],
    [
        1309.9,
        194.7,
        1
    ],
    [
        1333.1,
        194.7,
        1
    ],
    [
        1379.6,
        195.1,
        1
    ],
    [
        1215.3,
        195.3,
        1
    ],
    [
        1356.4,
        194.9,
        1
    ],
    [
        1251.5,
        215.3,
        1
    ],
    [
        1286.7,
        194.6,
        1
    ],
    [
        1413.9,
        216.4,
        1
    ],
    [
        1461.1,
        176.9,
        1
    ],
    [
        1449.3,
        196.7,
        1
    ],
    [
        630.8,
        153.6,
        1
    ],
    [
        1366.6,
        257.6,
        1
    ],
    [
        1238.8,
        235.5,
        1
    ],
    [
        1096.4,
        173.3,
        1
    ],
    [
        947.5,
        153,
        1
    ],
    [
        1153.1,
        171.5,
        1
    ],
    [
        1285.5,
        236.4,
        1
    ],
    [
        1367.4,
        215.7,
        1
    ],
    [
        1021.3,
        161.7,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1426,
        196.1,
        1
    ],
    [
        1390.7,
        216,
        1
    ],
    [
        1321,
        215.5,
        1
    ],
    [
        857.9,
        169.2,
        1
    ],
    [
        1401.9,
        237,
        1
    ],
    [
        1344.2,
        215.6,
        1
    ],
    [
        1297.8,
        215.5,
        1
    ],
    [
        834.5,
        177.7,
        1
    ],
    [
        1437,
        216.9,
        1
    ],
    [
        1425.2,
        237.3,
        1
    ],
    [
        972,
        157,
        1
    ],
    [
        507.5,
        153.7,
        1
    ],
    [
        1460,
        217.2,
        1
    ],
    [
        1436.7,
        258.2,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1262.2,
        236.2,
        1
    ],
    [
        1043,
        174.4,
        1
    ],
    [
        1319.9,
        257.5,
        1
    ],
    [
        1448.6,
        237.6,
        1
    ],
    [
        1121.3,
        175.1,
        1
    ],
    [
        1332,
        236.4,
        1
    ],
    [
        1473.2,
        197.3,
        1
    ],
    [
        1043.1,
        149.5,
        1
    ],
    [
        1308.7,
        236.4,
        1
    ],
    [
        1250,
        256.9,
        1
    ],
    [
        1378.6,
        236.7,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1413.2,
        258,
        1
    ],
    [
        1472.3,
        237.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1460,
        258.2,
        1
    ],
    [
        1355.3,
        236.5,
        1
    ],
    [
        1424.9,
        279,
        1
    ],
    [
        1052.8,
        197.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1074.5,
        184.8,
        1
    ],
    [
        1178,
        173,
        1
    ],
    [
        1273.1,
        257.5,
        1
    ],
    [
        1164.3,
        193.7,
        1
    ],
    [
        1343.2,
        257.5,
        1
    ],
    [
        1139.4,
        192.1,
        1
    ],
    [
        1389.9,
        257.7,
        1
    ],
    [
        1378,
        278.7,
        1
    ],
    [
        1189.6,
        194.9,
        1
    ],
    [
        1401.4,
        278.9,
        1
    ],
    [
        1259.9,
        278.4,
        1
    ],
    [
        1284,
        278.6,
        1
    ],
    [
        1331.3,
        278.7,
        1
    ],
    [
        1436.6,
        300,
        1
    ],
    [
        1107,
        195.6,
        1
    ],
    [
        1413.1,
        299.9,
        1
    ],
    [
        1296.5,
        257.5,
        1
    ],
    [
        1307.7,
        278.7,
        1
    ],
    [
        1354.6,
        278.7,
        1
    ],
    [
        1471.9,
        279,
        1
    ],
    [
        1389.7,
        299.9,
        1
    ],
    [
        1249.7,
        300.1,
        1
    ],
    [
        901.4,
        169.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        532.8,
        153.2,
        1
    ],
    [
        1272.6,
        300,
        1
    ],
    [
        1296,
        299.9,
        1
    ],
    [
        1342.8,
        299.6,
        1
    ],
    [
        1448.4,
        279.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1125.2,
        212.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1366.2,
        300,
        1
    ],
    [
        1319.4,
        299.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        299.8,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ]
]
,
18:[
    [
        1251.4,
        42,
        1
    ],
    [
        1293.2,
        41.4,
        1
    ],
    [
        1355.4,
        29.1,
        1
    ],
    [
        1459.9,
        42.5,
        1
    ],
    [
        1272.1,
        28.3,
        1
    ],
    [
        1398,
        29,
        1
    ],
    [
        1418.6,
        42.3,
        1
    ],
    [
        1376.7,
        16.4,
        1
    ],
    [
        1313.8,
        54.6,
        1
    ],
    [
        1101.2,
        91.9,
        1
    ],
    [
        1293.1,
        67.2,
        1
    ],
    [
        1125.6,
        98,
        1
    ],
    [
        1314.1,
        28.2,
        1
    ],
    [
        1251.3,
        91.7,
        1
    ],
    [
        1376.7,
        41.8,
        1
    ],
    [
        68,
        156.9,
        1
    ],
    [
        1355.7,
        54.5,
        1
    ],
    [
        1132.2,
        121.9,
        1
    ],
    [
        1355.7,
        79.5,
        1
    ],
    [
        1049.5,
        109.7,
        1
    ],
    [
        1197.7,
        116.5,
        1
    ],
    [
        1439.4,
        28.7,
        1
    ],
    [
        1251.5,
        67,
        1
    ],
    [
        1314,
        79.5,
        1
    ],
    [
        924.1,
        111.9,
        1
    ],
    [
        1376.6,
        67.1,
        1
    ],
    [
        1397.5,
        54.7,
        1
    ],
    [
        1173.5,
        110.2,
        1
    ],
    [
        1397.4,
        79.6,
        1
    ],
    [
        1042.9,
        133.7,
        1
    ],
    [
        1272.5,
        54.5,
        1
    ],
    [
        1376.6,
        91.9,
        1
    ],
    [
        1083.8,
        109.7,
        1
    ],
    [
        1439.2,
        55.1,
        1
    ],
    [
        1459.8,
        67.5,
        1
    ],
    [
        1418.3,
        92.1,
        1
    ],
    [
        1418.3,
        67.3,
        1
    ],
    [
        1272.3,
        104.1,
        1
    ],
    [
        1334.6,
        42.1,
        1
    ],
    [
        1272.3,
        79.4,
        1
    ],
    [
        1334.8,
        67,
        1
    ],
    [
        989.1,
        131.5,
        1
    ],
    [
        626,
        140.6,
        1
    ],
    [
        1293.1,
        91.9,
        1
    ],
    [
        1314,
        104.2,
        1
    ],
    [
        1460.1,
        92.2,
        1
    ],
    [
        1334.9,
        91.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        799,
        142.7,
        1
    ],
    [
        1418.2,
        116.6,
        1
    ],
    [
        964.2,
        131.5,
        1
    ],
    [
        1090.8,
        133.4,
        1
    ],
    [
        1314,
        128.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1293.2,
        116.4,
        1
    ],
    [
        1397.4,
        104.3,
        1
    ],
    [
        1334.9,
        116.4,
        1
    ],
    [
        1355.7,
        104.2,
        1
    ],
    [
        1439.2,
        79.9,
        1
    ],
    [
        1460.1,
        116.7,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1108.1,
        115.8,
        1
    ],
    [
        939.3,
        131.6,
        1
    ],
    [
        1376.6,
        116.5,
        1
    ],
    [
        1439.2,
        104.5,
        1
    ],
    [
        884.3,
        131.5,
        1
    ],
    [
        1355.7,
        128.7,
        1
    ],
    [
        1314,
        152.9,
        1
    ],
    [
        1397.4,
        128.8,
        1
    ],
    [
        1251.6,
        116.2,
        1
    ],
    [
        1439.1,
        128.8,
        1
    ],
    [
        1225.7,
        127.7,
        1
    ],
    [
        1156.1,
        128,
        1
    ],
    [
        1293.2,
        140.7,
        1
    ],
    [
        1272.3,
        128.5,
        1
    ],
    [
        834.3,
        131.6,
        1
    ],
    [
        1334.9,
        164.8,
        1
    ],
    [
        911.6,
        133.4,
        1
    ],
    [
        307.6,
        156.9,
        1
    ],
    [
        1460.1,
        141,
        1
    ],
    [
        1376.6,
        140.9,
        1
    ],
    [
        729,
        153,
        1
    ],
    [
        778.5,
        157,
        1
    ],
    [
        1050.1,
        157,
        1
    ],
    [
        672.6,
        150.7,
        1
    ],
    [
        1397.5,
        177.1,
        1
    ],
    [
        1272.3,
        152.7,
        1
    ],
    [
        1251.5,
        140.4,
        1
    ],
    [
        1114.8,
        139.5,
        1
    ],
    [
        1026,
        152.7,
        1
    ],
    [
        1397.4,
        153,
        1
    ],
    [
        1180.1,
        134.1,
        1
    ],
    [
        1314,
        176.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1293.1,
        164.8,
        1
    ],
    [
        1138.7,
        145.7,
        1
    ],
    [
        1066.7,
        127.7,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1376.6,
        189.2,
        1
    ],
    [
        1204.2,
        140.4,
        1
    ],
    [
        1418.3,
        141,
        1
    ],
    [
        1418.3,
        165,
        1
    ],
    [
        1097.5,
        157.1,
        1
    ],
    [
        1121.3,
        163.2,
        1
    ],
    [
        1073.8,
        151.4,
        1
    ],
    [
        1186.1,
        157.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        859.3,
        131.5,
        1
    ],
    [
        1376.6,
        165,
        1
    ],
    [
        1162.5,
        151.9,
        1
    ],
    [
        926.8,
        153,
        1
    ],
    [
        180.9,
        156.8,
        1
    ],
    [
        1439.1,
        153,
        1
    ],
    [
        647.7,
        153,
        1
    ],
    [
        951.8,
        153,
        1
    ],
    [
        1293.1,
        189,
        1
    ],
    [
        442.7,
        153.2,
        1
    ],
    [
        1334.9,
        140.8,
        1
    ],
    [
        1272.3,
        176.9,
        1
    ],
    [
        1355.7,
        177,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1439.2,
        177.1,
        1
    ],
    [
        1355.7,
        153,
        1
    ],
    [
        1439.2,
        201.5,
        1
    ],
    [
        1397.5,
        201.4,
        1
    ],
    [
        1334.9,
        189.1,
        1
    ],
    [
        1460,
        165,
        1
    ],
    [
        1376.6,
        213.7,
        1
    ],
    [
        1169,
        175.8,
        1
    ],
    [
        976.6,
        153,
        1
    ],
    [
        1251.4,
        164.6,
        1
    ],
    [
        1272.3,
        201.2,
        1
    ],
    [
        896.7,
        153,
        1
    ],
    [
        1293.2,
        213.5,
        1
    ],
    [
        537,
        153.2,
        1
    ],
    [
        871.8,
        153,
        1
    ],
    [
        1460.2,
        189.3,
        1
    ],
    [
        1418.4,
        189.3,
        1
    ],
    [
        1314,
        201.2,
        1
    ],
    [
        1314.1,
        225.8,
        1
    ],
    [
        1145.1,
        169.5,
        1
    ],
    [
        821.7,
        153.1,
        1
    ],
    [
        1355.7,
        201.4,
        1
    ],
    [
        1251.4,
        213.5,
        1
    ],
    [
        1335,
        238.3,
        1
    ],
    [
        1397.5,
        225.9,
        1
    ],
    [
        1459.9,
        238.6,
        1
    ],
    [
        1460.2,
        213.8,
        1
    ],
    [
        468,
        153.8,
        1
    ],
    [
        1355.8,
        226,
        1
    ],
    [
        1251.4,
        189,
        1
    ],
    [
        1334.9,
        213.6,
        1
    ],
    [
        801.3,
        167.3,
        1
    ],
    [
        1376.6,
        238.3,
        1
    ],
    [
        1272.3,
        225.7,
        1
    ],
    [
        1103.9,
        180.7,
        1
    ],
    [
        1230.1,
        152.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1439.2,
        226.1,
        1
    ],
    [
        1397.3,
        250.7,
        1
    ],
    [
        1314.2,
        250.5,
        1
    ],
    [
        846.8,
        153,
        1
    ],
    [
        1418.3,
        213.7,
        1
    ],
    [
        884.3,
        174.3,
        1
    ],
    [
        1083.1,
        193.8,
        1
    ],
    [
        834.5,
        174.5,
        1
    ],
    [
        1192.7,
        182,
        1
    ],
    [
        1001.4,
        153,
        1
    ],
    [
        753.6,
        156.9,
        1
    ],
    [
        939.3,
        174.4,
        1
    ],
    [
        1460.1,
        216.6,
        0
    ],
    [
        1418.3,
        238.3,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1293.2,
        238.1,
        1
    ],
    [
        1067.1,
        175.1,
        1
    ],
    [
        1293.4,
        262.9,
        1
    ],
    [
        1439,
        251,
        1
    ],
    [
        1127.7,
        187.2,
        1
    ],
    [
        704.1,
        153,
        1
    ],
    [
        1209.4,
        164.4,
        1
    ],
    [
        1251.4,
        238.1,
        1
    ],
    [
        1272.4,
        250.5,
        1
    ],
    [
        1043,
        180.5,
        1
    ],
    [
        1355.9,
        250.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        989.1,
        174.6,
        1
    ],
    [
        1459.9,
        263.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1459.8,
        288.5,
        1
    ],
    [
        1334.9,
        263.2,
        1
    ],
    [
        1418,
        263.2,
        1
    ],
    [
        626,
        165.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        859.3,
        174.4,
        1
    ],
    [
        1397.7,
        277.1,
        1
    ],
    [
        662.2,
        173.3,
        1
    ],
    [
        1014.1,
        174.4,
        1
    ],
    [
        911.8,
        172.6,
        1
    ],
    [
        1175.6,
        199.9,
        1
    ],
    [
        1376.9,
        263.7,
        1
    ],
    [
        1334.9,
        289.6,
        1
    ],
    [
        1230.1,
        176.9,
        1
    ],
    [
        1376.4,
        289.7,
        1
    ],
    [
        417.4,
        153.2,
        1
    ],
    [
        1251.4,
        263,
        1
    ],
    [
        1110,
        204.7,
        1
    ],
    [
        1438.7,
        276.1,
        1
    ],
    [
        1151.6,
        193.6,
        1
    ],
    [
        1413.2,
        299.9,
        0
    ],
    [
        1272.6,
        275.5,
        1
    ],
    [
        1314.1,
        276.3,
        1
    ],
    [
        871.9,
        195.9,
        1
    ],
    [
        1229.7,
        201.5,
        1
    ],
    [
        924.2,
        194.1,
        1
    ],
    [
        1058.9,
        199.4,
        1
    ],
    [
        901.3,
        169.5,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        964.2,
        174.5,
        1
    ],
    [
        1251.7,
        288,
        1
    ],
    [
        1088.9,
        217.9,
        1
    ],
    [
        687,
        171,
        1
    ],
    [
        1204.9,
        203.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1355.7,
        276.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        899.3,
        194.1,
        1
    ],
    [
        1293.1,
        289.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        299.9,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ]
]
,
17:[
    [
        1251.5,
        21.6,
        1
    ],
    [
        1272.7,
        33.8,
        1
    ],
    [
        1293.5,
        46.4,
        1
    ],
    [
        1019.4,
        130.6,
        1
    ],
    [
        1075.4,
        109,
        1
    ],
    [
        1397.9,
        29.1,
        0
    ],
    [
        1164.9,
        96.3,
        1
    ],
    [
        1396.7,
        31.6,
        1
    ],
    [
        1314.1,
        58.9,
        1
    ],
    [
        454.7,
        157,
        1
    ],
    [
        1272.4,
        59,
        1
    ],
    [
        1355,
        31.3,
        1
    ],
    [
        1121.5,
        97.4,
        1
    ],
    [
        1251.5,
        46.5,
        1
    ],
    [
        1417.5,
        45,
        1
    ],
    [
        276.6,
        156.9,
        1
    ],
    [
        1313.2,
        31.5,
        1
    ],
    [
        888.2,
        129.3,
        1
    ],
    [
        1375.8,
        44.9,
        1
    ],
    [
        1053.1,
        120,
        1
    ],
    [
        994.5,
        132.3,
        1
    ],
    [
        1460,
        20.1,
        1
    ],
    [
        639.9,
        132.5,
        1
    ],
    [
        1334.1,
        44.8,
        1
    ],
    [
        1396.7,
        57.7,
        1
    ],
    [
        926.9,
        132.2,
        1
    ],
    [
        1186.7,
        108.2,
        1
    ],
    [
        1143.5,
        109.1,
        1
    ],
    [
        1438.5,
        32.5,
        1
    ],
    [
        1251.4,
        71.5,
        1
    ],
    [
        682.2,
        133.2,
        1
    ],
    [
        969.8,
        128.8,
        1
    ],
    [
        1100.3,
        110.5,
        1
    ],
    [
        1438.8,
        57.4,
        1
    ],
    [
        1459.9,
        45,
        1
    ],
    [
        1417.9,
        70,
        1
    ],
    [
        1439,
        82.3,
        1
    ],
    [
        1251.5,
        96.2,
        1
    ],
    [
        1355,
        57.9,
        1
    ],
    [
        1272.2,
        83.9,
        1
    ],
    [
        1313.9,
        83.7,
        1
    ],
    [
        971.8,
        153.5,
        1
    ],
    [
        834.3,
        128.8,
        1
    ],
    [
        1293.1,
        71.4,
        1
    ],
    [
        1122.3,
        122.2,
        1
    ],
    [
        1459.9,
        69.9,
        1
    ],
    [
        1355.5,
        83.3,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1397.1,
        82.6,
        1
    ],
    [
        1208.4,
        120.3,
        1
    ],
    [
        1334.7,
        71.2,
        1
    ],
    [
        1101.3,
        135.2,
        1
    ],
    [
        1293.1,
        96.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1272.3,
        108.5,
        1
    ],
    [
        1376,
        70.4,
        1
    ],
    [
        1334.8,
        120.5,
        1
    ],
    [
        949.3,
        143,
        1
    ],
    [
        1418.1,
        94.7,
        1
    ],
    [
        1459.9,
        94.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1144.1,
        133.9,
        1
    ],
    [
        1165.3,
        121.1,
        1
    ],
    [
        1376.4,
        95.3,
        1
    ],
    [
        1439.1,
        106.9,
        1
    ],
    [
        1088.3,
        155.9,
        1
    ],
    [
        1355.7,
        107.9,
        1
    ],
    [
        1314,
        132.8,
        1
    ],
    [
        1418.3,
        119.3,
        1
    ],
    [
        1076.6,
        133.8,
        1
    ],
    [
        807.2,
        137.7,
        1
    ],
    [
        1187,
        133,
        1
    ],
    [
        1165.7,
        145.8,
        1
    ],
    [
        1251.4,
        120.6,
        1
    ],
    [
        625.7,
        153,
        1
    ],
    [
        1043.2,
        142.5,
        1
    ],
    [
        906.4,
        146.4,
        1
    ],
    [
        706.8,
        129.1,
        1
    ],
    [
        1334.7,
        96,
        1
    ],
    [
        1229.9,
        132.5,
        1
    ],
    [
        1397.3,
        107.3,
        1
    ],
    [
        1355.7,
        132.3,
        1
    ],
    [
        981.1,
        176.6,
        1
    ],
    [
        1043.1,
        167.3,
        1
    ],
    [
        1293.1,
        120.7,
        1
    ],
    [
        1397.5,
        131.7,
        1
    ],
    [
        1272.3,
        132.9,
        1
    ],
    [
        1251.6,
        145,
        1
    ],
    [
        1123,
        146.9,
        1
    ],
    [
        1230,
        157.1,
        1
    ],
    [
        1439.2,
        131.3,
        1
    ],
    [
        1208.5,
        145.1,
        1
    ],
    [
        1313.9,
        108.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1064,
        154.9,
        1
    ],
    [
        1355.8,
        156.5,
        1
    ],
    [
        1088.9,
        180.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1376.6,
        144.1,
        1
    ],
    [
        388.7,
        157,
        1
    ],
    [
        996.5,
        157,
        1
    ],
    [
        782.6,
        133.8,
        1
    ],
    [
        1314,
        157,
        1
    ],
    [
        1334.9,
        144.7,
        1
    ],
    [
        1314.1,
        181.2,
        1
    ],
    [
        1397.6,
        180,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1293.1,
        145,
        1
    ],
    [
        1418.4,
        143.6,
        1
    ],
    [
        1376.6,
        119.8,
        1
    ],
    [
        675.4,
        157,
        1
    ],
    [
        180.9,
        156.8,
        1
    ],
    [
        1459.9,
        119.1,
        1
    ],
    [
        650.6,
        154.9,
        1
    ],
    [
        1376.7,
        168.2,
        1
    ],
    [
        1293.1,
        169.2,
        1
    ],
    [
        1064.3,
        179.5,
        1
    ],
    [
        1334.9,
        168.8,
        1
    ],
    [
        1272.3,
        157.1,
        1
    ],
    [
        1355.7,
        177.1,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        143.5,
        1
    ],
    [
        1335.1,
        193.1,
        1
    ],
    [
        1439.2,
        155.6,
        1
    ],
    [
        1355.9,
        180.7,
        1
    ],
    [
        1314.3,
        205.7,
        1
    ],
    [
        1460,
        167.6,
        1
    ],
    [
        1376.8,
        192.5,
        1
    ],
    [
        1397.5,
        155.8,
        1
    ],
    [
        1356.1,
        205.1,
        1
    ],
    [
        1251.4,
        169.3,
        1
    ],
    [
        1272.3,
        181.4,
        1
    ],
    [
        1144.6,
        158.5,
        1
    ],
    [
        1293.3,
        193.6,
        1
    ],
    [
        1187.2,
        157.6,
        1
    ],
    [
        861.2,
        140.7,
        1
    ],
    [
        1021.3,
        155.3,
        1
    ],
    [
        1418.4,
        167.7,
        1
    ],
    [
        1110,
        167.6,
        1
    ],
    [
        1335.4,
        217.7,
        1
    ],
    [
        1131.7,
        179.4,
        1
    ],
    [
        1418.5,
        192,
        1
    ],
    [
        1356.4,
        229.8,
        1
    ],
    [
        1251.5,
        193.7,
        1
    ],
    [
        1293.5,
        218.1,
        1
    ],
    [
        1397.7,
        204.4,
        1
    ],
    [
        1460.1,
        191.9,
        1
    ],
    [
        1439.3,
        179.8,
        1
    ],
    [
        1089.3,
        205.3,
        1
    ],
    [
        1377,
        217,
        1
    ],
    [
        839.6,
        153,
        1
    ],
    [
        1314.7,
        230.3,
        1
    ],
    [
        816,
        160.9,
        1
    ],
    [
        1398.1,
        254.6,
        1
    ],
    [
        1272.4,
        205.9,
        1
    ],
    [
        928.8,
        157,
        1
    ],
    [
        1418.6,
        216.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1439.3,
        204.2,
        1
    ],
    [
        1166,
        170.3,
        1
    ],
    [
        483.4,
        153.1,
        1
    ],
    [
        1042.9,
        192.1,
        1
    ],
    [
        1397.8,
        229,
        1
    ],
    [
        700,
        153,
        1
    ],
    [
        1110.6,
        192.4,
        1
    ],
    [
        882.6,
        153.4,
        1
    ],
    [
        1010.4,
        177.6,
        1
    ],
    [
        791.4,
        157,
        1
    ],
    [
        747.3,
        137.6,
        1
    ],
    [
        724.1,
        147,
        1
    ],
    [
        1460.1,
        216.6,
        0
    ],
    [
        1418.4,
        241.2,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1293.8,
        242.8,
        1
    ],
    [
        1272.5,
        230.5,
        1
    ],
    [
        1315,
        255.2,
        1
    ],
    [
        1439.2,
        229,
        1
    ],
    [
        1335.9,
        242.5,
        1
    ],
    [
        717.4,
        170.8,
        1
    ],
    [
        1208.7,
        169.7,
        1
    ],
    [
        1251.5,
        218.2,
        1
    ],
    [
        1272.7,
        255.2,
        1
    ],
    [
        1251.8,
        267.7,
        1
    ],
    [
        1377.5,
        241.8,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1187.5,
        182.4,
        1
    ],
    [
        1460.1,
        216.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        241.4,
        1
    ],
    [
        951.4,
        167.7,
        1
    ],
    [
        1438.9,
        254,
        1
    ],
    [
        861,
        165.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1064.5,
        204.3,
        1
    ],
    [
        1174.8,
        203.8,
        1
    ],
    [
        908.1,
        171,
        1
    ],
    [
        766.9,
        153,
        1
    ],
    [
        884.1,
        178.2,
        1
    ],
    [
        1153.4,
        191.4,
        1
    ],
    [
        743.7,
        162.2,
        1
    ],
    [
        1357.2,
        254.8,
        1
    ],
    [
        1230.1,
        181.7,
        1
    ],
    [
        1418.6,
        268.2,
        1
    ],
    [
        835.3,
        177.4,
        1
    ],
    [
        1251.6,
        242.9,
        1
    ],
    [
        636.4,
        175.4,
        1
    ],
    [
        1439.9,
        280.9,
        1
    ],
    [
        1336.4,
        267.4,
        1
    ],
    [
        1377.9,
        268.4,
        1
    ],
    [
        1272.8,
        280.1,
        1
    ],
    [
        1294,
        267.7,
        1
    ],
    [
        691.2,
        176.2,
        1
    ],
    [
        1209,
        194.6,
        1
    ],
    [
        763.4,
        177.6,
        1
    ],
    [
        1251.6,
        292.6,
        1
    ],
    [
        901.3,
        169.5,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        930.7,
        181.7,
        1
    ],
    [
        1294.1,
        292.7,
        1
    ],
    [
        1315.4,
        280.2,
        1
    ],
    [
        661.3,
        177.4,
        1
    ],
    [
        1196.5,
        216.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1132.3,
        204.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1356.8,
        281.4,
        1
    ],
    [
        45.5,
        153,
        1
    ],
    [
        1459.8,
        266.3,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        299.9,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ]
]
,
16:[
    [
        650.8,
        128,
        1
    ],
    [
        1269.4,
        50.8,
        1
    ],
    [
        1293.7,
        46.6,
        0
    ],
    [
        1218.8,
        77.2,
        1
    ],
    [
        1081,
        82.5,
        1
    ],
    [
        972.1,
        121.4,
        1
    ],
    [
        1005.9,
        112.7,
        1
    ],
    [
        1364.3,
        48.5,
        1
    ],
    [
        1291,
        63.1,
        1
    ],
    [
        834.6,
        119.9,
        1
    ],
    [
        877.4,
        119.7,
        1
    ],
    [
        1146.5,
        91.2,
        1
    ],
    [
        898.9,
        132.2,
        1
    ],
    [
        1251.4,
        68.2,
        1
    ],
    [
        920.4,
        119.7,
        1
    ],
    [
        1315.4,
        58.1,
        1
    ],
    [
        1339.8,
        53.2,
        1
    ],
    [
        502.3,
        156.8,
        1
    ],
    [
        1162.7,
        110.1,
        1
    ],
    [
        1056,
        88.3,
        1
    ],
    [
        800.4,
        135.4,
        1
    ],
    [
        1018.3,
        134.2,
        1
    ],
    [
        23.7,
        156.8,
        1
    ],
    [
        1331.7,
        76.8,
        1
    ],
    [
        1356.1,
        71.9,
        1
    ],
    [
        1170.9,
        86.5,
        1
    ],
    [
        1401.3,
        53.5,
        1
    ],
    [
        941.9,
        132.1,
        1
    ],
    [
        1211,
        100.8,
        1
    ],
    [
        1073.4,
        106.1,
        1
    ],
    [
        856,
        132.3,
        1
    ],
    [
        1380.6,
        67.2,
        1
    ],
    [
        695.7,
        128.2,
        1
    ],
    [
        1235.2,
        96,
        1
    ],
    [
        1459.9,
        46.1,
        0
    ],
    [
        1417.2,
        72.5,
        1
    ],
    [
        1438.4,
        59.7,
        1
    ],
    [
        1259.3,
        91.6,
        1
    ],
    [
        1323.8,
        100.2,
        1
    ],
    [
        1283.3,
        86.6,
        1
    ],
    [
        1122.1,
        96,
        1
    ],
    [
        1186.9,
        105.5,
        1
    ],
    [
        1043.1,
        109.3,
        1
    ],
    [
        877.4,
        144.7,
        1
    ],
    [
        920.4,
        144.6,
        1
    ],
    [
        1460,
        72.1,
        1
    ],
    [
        1372.3,
        90.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        993.5,
        134.2,
        1
    ],
    [
        1438.5,
        84.7,
        1
    ],
    [
        1138.5,
        114.8,
        1
    ],
    [
        1097.8,
        100.9,
        1
    ],
    [
        1307.5,
        81.6,
        1
    ],
    [
        1203.1,
        124.2,
        1
    ],
    [
        1275.6,
        110.1,
        1
    ],
    [
        1396.7,
        86.1,
        1
    ],
    [
        1114.3,
        119.6,
        1
    ],
    [
        1178.9,
        128.9,
        1
    ],
    [
        1438.1,
        109.2,
        1
    ],
    [
        1227.2,
        119.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1090.2,
        124.5,
        1
    ],
    [
        1154.8,
        133.5,
        1
    ],
    [
        1388.4,
        109,
        1
    ],
    [
        1460,
        96.9,
        1
    ],
    [
        898.9,
        157,
        1
    ],
    [
        1348,
        95.3,
        1
    ],
    [
        1291.7,
        128.5,
        1
    ],
    [
        788,
        157,
        1
    ],
    [
        1066.4,
        129.5,
        1
    ],
    [
        963.3,
        144.6,
        1
    ],
    [
        1009,
        157,
        1
    ],
    [
        941.8,
        157,
        1
    ],
    [
        1267.6,
        133.3,
        1
    ],
    [
        1251.5,
        114.8,
        1
    ],
    [
        626.1,
        132.2,
        1
    ],
    [
        1299.6,
        105.1,
        1
    ],
    [
        717.4,
        140.6,
        1
    ],
    [
        1340,
        118.6,
        1
    ],
    [
        1033.7,
        156.8,
        1
    ],
    [
        1413.9,
        104.1,
        1
    ],
    [
        1364.1,
        113.8,
        1
    ],
    [
        357.1,
        156.9,
        1
    ],
    [
        1042.9,
        165.8,
        0
    ],
    [
        1283.8,
        151.6,
        1
    ],
    [
        1404.4,
        126.9,
        1
    ],
    [
        1042.9,
        133.9,
        1
    ],
    [
        1259.6,
        156.4,
        1
    ],
    [
        1106.5,
        143,
        1
    ],
    [
        1243.4,
        138,
        1
    ],
    [
        1219.3,
        142.7,
        1
    ],
    [
        1195.2,
        147.5,
        1
    ],
    [
        1315.8,
        123.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1058.1,
        152.9,
        1
    ],
    [
        1332.1,
        141.8,
        1
    ],
    [
        1082.4,
        147.9,
        1
    ],
    [
        579,
        156.9,
        1
    ],
    [
        1356.2,
        136.9,
        1
    ],
    [
        388.7,
        157,
        1
    ],
    [
        1021.6,
        178.5,
        1
    ],
    [
        984.5,
        157,
        1
    ],
    [
        1308,
        146.7,
        1
    ],
    [
        1130.6,
        138.2,
        1
    ],
    [
        1122.8,
        161.3,
        1
    ],
    [
        1211.5,
        165.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        877.5,
        169.4,
        1
    ],
    [
        1235.5,
        161.1,
        1
    ],
    [
        1171,
        152.2,
        1
    ],
    [
        673.2,
        138.5,
        1
    ],
    [
        180.9,
        156.8,
        1
    ],
    [
        1460.1,
        121.3,
        1
    ],
    [
        673,
        163.1,
        1
    ],
    [
        1348.4,
        159.9,
        1
    ],
    [
        1300.2,
        169.6,
        1
    ],
    [
        1276,
        174.5,
        1
    ],
    [
        941.9,
        181.9,
        1
    ],
    [
        1251.8,
        179.6,
        1
    ],
    [
        738.9,
        153,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1439.2,
        133.4,
        1
    ],
    [
        1146.9,
        156.7,
        1
    ],
    [
        1419.1,
        145.3,
        1
    ],
    [
        1324.4,
        164.8,
        1
    ],
    [
        1090.7,
        189.4,
        1
    ],
    [
        1460.2,
        145.8,
        1
    ],
    [
        1372.4,
        155.1,
        1
    ],
    [
        1380.3,
        132.1,
        1
    ],
    [
        1187.3,
        170.6,
        1
    ],
    [
        855.9,
        156.9,
        1
    ],
    [
        650.5,
        152.9,
        1
    ],
    [
        477,
        156.9,
        1
    ],
    [
        1098.6,
        166.2,
        1
    ],
    [
        552.4,
        153,
        1
    ],
    [
        1049.5,
        175.9,
        1
    ],
    [
        812.8,
        157.1,
        1
    ],
    [
        1396.1,
        150.3,
        1
    ],
    [
        1316.6,
        187.9,
        1
    ],
    [
        920.4,
        169.4,
        1
    ],
    [
        1163.2,
        175.3,
        1
    ],
    [
        1413.2,
        168.3,
        1
    ],
    [
        1340.8,
        183,
        1
    ],
    [
        1268.1,
        197.6,
        1
    ],
    [
        695.7,
        153,
        1
    ],
    [
        1364.9,
        178.1,
        1
    ],
    [
        1460,
        169.9,
        1
    ],
    [
        1438.9,
        158.3,
        1
    ],
    [
        650.5,
        177.5,
        1
    ],
    [
        1332.9,
        206.2,
        1
    ],
    [
        834.4,
        144.7,
        1
    ],
    [
        1308.7,
        211.1,
        1
    ],
    [
        1389.1,
        173.3,
        1
    ],
    [
        1179.6,
        193.9,
        1
    ],
    [
        1292.3,
        192.7,
        1
    ],
    [
        1139,
        179.9,
        1
    ],
    [
        1405.9,
        191.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1433.4,
        182.2,
        1
    ],
    [
        1357.2,
        201.3,
        1
    ],
    [
        695.6,
        177.7,
        1
    ],
    [
        625.8,
        157,
        1
    ],
    [
        1381.5,
        196.3,
        1
    ],
    [
        1114.8,
        184.6,
        1
    ],
    [
        1074.3,
        171,
        1
    ],
    [
        225.5,
        153,
        1
    ],
    [
        1455.2,
        193.3,
        1
    ],
    [
        1426.1,
        205.7,
        1
    ],
    [
        763.3,
        157,
        1
    ],
    [
        527.6,
        156.9,
        1
    ],
    [
        1460.1,
        216.6,
        0
    ],
    [
        1203.7,
        189.2,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1066.5,
        194.1,
        1
    ],
    [
        856.2,
        181.8,
        1
    ],
    [
        1106.8,
        208.1,
        1
    ],
    [
        1438.2,
        227.3,
        1
    ],
    [
        1155.4,
        198.6,
        1
    ],
    [
        717.3,
        165.5,
        1
    ],
    [
        1459.9,
        216.7,
        1
    ],
    [
        1251.9,
        215.6,
        1
    ],
    [
        1284.3,
        216,
        1
    ],
    [
        1042.9,
        199.7,
        1
    ],
    [
        1349.4,
        224.6,
        1
    ],
    [
        1251.5,
        240.3,
        1
    ],
    [
        1398,
        214.5,
        1
    ],
    [
        1227.8,
        184.4,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1459.6,
        241.2,
        1
    ],
    [
        963.2,
        169.3,
        1
    ],
    [
        1414.4,
        232.7,
        1
    ],
    [
        626,
        181.8,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1082.5,
        212.9,
        1
    ],
    [
        1373.7,
        219.6,
        1
    ],
    [
        1300.7,
        234.5,
        1
    ],
    [
        996.7,
        178.6,
        1
    ],
    [
        898.9,
        181.9,
        1
    ],
    [
        1196.1,
        212.6,
        1
    ],
    [
        1365.9,
        243,
        1
    ],
    [
        1147.4,
        222,
        1
    ],
    [
        1227.7,
        209,
        1
    ],
    [
        1390.2,
        238,
        1
    ],
    [
        1058.4,
        219.1,
        1
    ],
    [
        1276.2,
        239.3,
        1
    ],
    [
        920.4,
        194.3,
        1
    ],
    [
        1406.9,
        256.4,
        1
    ],
    [
        1131.1,
        203.3,
        1
    ],
    [
        1341.5,
        248.1,
        1
    ],
    [
        834.7,
        169.4,
        1
    ],
    [
        1325.1,
        229.6,
        1
    ],
    [
        970.7,
        193,
        1
    ],
    [
        1214.1,
        229.8,
        1
    ],
    [
        1123,
        226.8,
        1
    ],
    [
        834.5,
        194.2,
        1
    ],
    [
        672.9,
        187.9,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1171.8,
        217.4,
        1
    ],
    [
        1292.6,
        258,
        1
    ],
    [
        1315,
        280.6,
        0
    ],
    [
        1098.7,
        231.7,
        1
    ],
    [
        1452,
        264.8,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1358.2,
        266.6,
        1
    ],
    [
        1139.5,
        245.5,
        1
    ],
    [
        1431.2,
        251.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1356.3,
        282,
        0
    ],
    [
        45.5,
        153,
        0
    ],
    [
        1459.9,
        267.4,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        299.9,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1317.1,
        253.2,
        1
    ]
]
,
15:[
    [
        1064.2,
        101,
        1
    ],
    [
        1085.5,
        88.4,
        1
    ],
    [
        676.3,
        114,
        1
    ],
    [
        831.7,
        133.2,
        1
    ],
    [
        1274.1,
        36.8,
        1
    ],
    [
        972.2,
        121.6,
        0
    ],
    [
        1448.5,
        41.3,
        1
    ],
    [
        1143.8,
        107.4,
        1
    ],
    [
        1309.3,
        67.6,
        1
    ],
    [
        868.8,
        123.2,
        1
    ],
    [
        1085.8,
        113.4,
        1
    ],
    [
        1347.1,
        47.1,
        1
    ],
    [
        701.3,
        114.4,
        1
    ],
    [
        1296.8,
        88.7,
        1
    ],
    [
        954.4,
        113.4,
        1
    ],
    [
        1297.1,
        46,
        1
    ],
    [
        1372,
        48,
        1
    ],
    [
        494.2,
        156.6,
        1
    ],
    [
        1396.8,
        47.8,
        1
    ],
    [
        1055.9,
        88.1,
        0
    ],
    [
        206.6,
        156.9,
        1
    ],
    [
        1208.2,
        94.7,
        1
    ],
    [
        1251.5,
        47,
        1
    ],
    [
        1322.2,
        46.3,
        1
    ],
    [
        1383.5,
        70,
        1
    ],
    [
        1107.1,
        100.9,
        1
    ],
    [
        1427.1,
        53.9,
        1
    ],
    [
        941.4,
        134.6,
        1
    ],
    [
        1186.7,
        107.3,
        1
    ],
    [
        1277.5,
        61.4,
        1
    ],
    [
        1042.9,
        113.5,
        1
    ],
    [
        766.2,
        128.2,
        1
    ],
    [
        1334.1,
        68.2,
        1
    ],
    [
        1165.2,
        94.9,
        1
    ],
    [
        789,
        138.1,
        1
    ],
    [
        569.3,
        156.9,
        1
    ],
    [
        1459.7,
        63.4,
        1
    ],
    [
        1272.9,
        85.7,
        1
    ],
    [
        1358.8,
        69.1,
        1
    ],
    [
        891.7,
        132.7,
        1
    ],
    [
        1345.8,
        90.1,
        1
    ],
    [
        1122.6,
        120,
        1
    ],
    [
        1252.3,
        71.6,
        1
    ],
    [
        1321.3,
        89.2,
        1
    ],
    [
        1357.5,
        112,
        1
    ],
    [
        1014.8,
        135.5,
        1
    ],
    [
        1418.1,
        92,
        1
    ],
    [
        1251.4,
        96,
        1
    ],
    [
        1186.8,
        132,
        1
    ],
    [
        1229.6,
        107.3,
        1
    ],
    [
        1408.1,
        69.8,
        1
    ],
    [
        1064.4,
        125.8,
        1
    ],
    [
        1333,
        110.9,
        1
    ],
    [
        1208.2,
        119.6,
        1
    ],
    [
        1308.3,
        110,
        1
    ],
    [
        1438,
        76.2,
        1
    ],
    [
        1101.4,
        132.4,
        1
    ],
    [
        966.3,
        135.2,
        1
    ],
    [
        1229.8,
        131.9,
        1
    ],
    [
        811.7,
        148.1,
        1
    ],
    [
        746.1,
        142.7,
        1
    ],
    [
        713.9,
        135.8,
        1
    ],
    [
        307,
        156.8,
        1
    ],
    [
        1394.4,
        92.2,
        1
    ],
    [
        1460,
        88,
        1
    ],
    [
        663.5,
        135.3,
        1
    ],
    [
        1370.3,
        91.2,
        1
    ],
    [
        1307,
        151.3,
        1
    ],
    [
        1439.5,
        100.8,
        1
    ],
    [
        854.5,
        143.4,
        1
    ],
    [
        814.5,
        172.7,
        1
    ],
    [
        1208.4,
        168.6,
        1
    ],
    [
        916.5,
        133.7,
        1
    ],
    [
        1295.6,
        130.4,
        1
    ],
    [
        1282.7,
        109.2,
        1
    ],
    [
        1251.4,
        119.9,
        1
    ],
    [
        726,
        157.3,
        1
    ],
    [
        768.9,
        152.9,
        1
    ],
    [
        977.8,
        157,
        1
    ],
    [
        1460,
        112.7,
        1
    ],
    [
        1165.3,
        119.8,
        1
    ],
    [
        1382,
        113.2,
        1
    ],
    [
        148.6,
        156.9,
        1
    ],
    [
        1043,
        138.1,
        1
    ],
    [
        1058.6,
        156.9,
        1
    ],
    [
        1406.7,
        114,
        1
    ],
    [
        638.9,
        132.1,
        1
    ],
    [
        1272.2,
        131.6,
        1
    ],
    [
        1144,
        132.3,
        1
    ],
    [
        1438.6,
        124.7,
        1
    ],
    [
        1027.2,
        157,
        1
    ],
    [
        1208.3,
        144.2,
        1
    ],
    [
        1080,
        144.7,
        1
    ],
    [
        1165.4,
        144.5,
        1
    ],
    [
        877.4,
        153,
        1
    ],
    [
        1344.4,
        132.6,
        1
    ],
    [
        928.2,
        155.6,
        1
    ],
    [
        579,
        156.9,
        0
    ],
    [
        1379.9,
        155.3,
        1
    ],
    [
        388.7,
        157,
        1
    ],
    [
        1417.5,
        136,
        1
    ],
    [
        791.7,
        162.8,
        1
    ],
    [
        1320.1,
        131.3,
        1
    ],
    [
        748.8,
        167.4,
        1
    ],
    [
        1273.1,
        155.9,
        1
    ],
    [
        1186.9,
        156.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        688.4,
        135.7,
        1
    ],
    [
        1393.4,
        135.1,
        1
    ],
    [
        953,
        156.4,
        1
    ],
    [
        1079.9,
        169.4,
        1
    ],
    [
        180.9,
        156.8,
        1
    ],
    [
        1460,
        136.8,
        1
    ],
    [
        675.5,
        157,
        1
    ],
    [
        1368.8,
        133.7,
        1
    ],
    [
        1251.5,
        168.1,
        1
    ],
    [
        650.3,
        156.2,
        1
    ],
    [
        1331.1,
        153,
        1
    ],
    [
        625.7,
        153,
        1
    ],
    [
        1317.3,
        173.3,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1438.4,
        148.7,
        1
    ],
    [
        1341.8,
        174.6,
        1
    ],
    [
        1416.6,
        160.1,
        1
    ],
    [
        1355.5,
        154.2,
        1
    ],
    [
        1122.7,
        144.8,
        1
    ],
    [
        1460.1,
        160.7,
        1
    ],
    [
        1395.8,
        173.1,
        1
    ],
    [
        1144.1,
        156.9,
        1
    ],
    [
        1366.5,
        175.7,
        1
    ],
    [
        629.4,
        177.5,
        1
    ],
    [
        1251.4,
        144.2,
        1
    ],
    [
        519.6,
        156.8,
        1
    ],
    [
        1043.2,
        175.9,
        1
    ],
    [
        1417.6,
        184.5,
        1
    ],
    [
        903.2,
        154.7,
        1
    ],
    [
        1460.1,
        184.8,
        1
    ],
    [
        1165.5,
        169,
        1
    ],
    [
        1293.1,
        169.8,
        1
    ],
    [
        1101.4,
        157,
        1
    ],
    [
        1122.7,
        169.3,
        1
    ],
    [
        1438.5,
        172.6,
        1
    ],
    [
        1350.5,
        196.8,
        1
    ],
    [
        1251.4,
        192.5,
        1
    ],
    [
        1301.5,
        192.4,
        1
    ],
    [
        544.4,
        153.2,
        1
    ],
    [
        1460.1,
        209.4,
        1
    ],
    [
        1438.8,
        197,
        1
    ],
    [
        679.1,
        181.5,
        1
    ],
    [
        1144.2,
        181.5,
        1
    ],
    [
        834.5,
        157.9,
        1
    ],
    [
        1325.9,
        195.9,
        1
    ],
    [
        1002.5,
        157,
        1
    ],
    [
        1362,
        219.1,
        1
    ],
    [
        1272.3,
        180.4,
        1
    ],
    [
        701,
        157,
        1
    ],
    [
        1374.3,
        198.3,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1418,
        209.3,
        1
    ],
    [
        1397.4,
        197.4,
        1
    ],
    [
        1293.8,
        215.4,
        1
    ],
    [
        654.2,
        180.6,
        1
    ],
    [
        1229.8,
        156.2,
        1
    ],
    [
        1101.3,
        181.7,
        1
    ],
    [
        468.9,
        156.9,
        1
    ],
    [
        32.9,
        153,
        1
    ],
    [
        1438.9,
        221.7,
        1
    ],
    [
        1417.5,
        233.5,
        1
    ],
    [
        1165.7,
        193.7,
        1
    ],
    [
        728.8,
        182,
        1
    ],
    [
        1460,
        234.2,
        1
    ],
    [
        989.9,
        178.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1272.6,
        204.3,
        1
    ],
    [
        857.6,
        168,
        1
    ],
    [
        1315.3,
        225.9,
        1
    ],
    [
        1438.3,
        246.6,
        1
    ],
    [
        1122.8,
        194,
        1
    ],
    [
        1337.7,
        217.3,
        1
    ],
    [
        1229.9,
        180.5,
        1
    ],
    [
        1251.5,
        217,
        1
    ],
    [
        1295,
        240.1,
        1
    ],
    [
        1043,
        200.8,
        1
    ],
    [
        940,
        177.5,
        1
    ],
    [
        1273.1,
        228.7,
        1
    ],
    [
        1187,
        181.1,
        1
    ],
    [
        1014.9,
        178.6,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1459.9,
        259,
        1
    ],
    [
        1346.2,
        240.3,
        1
    ],
    [
        1395.2,
        243.2,
        1
    ],
    [
        1251.7,
        241.5,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        837.4,
        182.5,
        1
    ],
    [
        1386.9,
        219.8,
        1
    ],
    [
        1064.3,
        188.3,
        1
    ],
    [
        1187.3,
        205.9,
        1
    ],
    [
        1323,
        249.2,
        1
    ],
    [
        1370.8,
        242,
        1
    ],
    [
        964.9,
        178.2,
        1
    ],
    [
        1144.2,
        206.4,
        1
    ],
    [
        1208.5,
        193.2,
        1
    ],
    [
        1367.2,
        266.5,
        1
    ],
    [
        1251.8,
        266.2,
        1
    ],
    [
        1273.6,
        253.3,
        1
    ],
    [
        915,
        176.6,
        1
    ],
    [
        1208.9,
        218.1,
        1
    ],
    [
        1342.3,
        264.8,
        1
    ],
    [
        771.6,
        177.6,
        1
    ],
    [
        888.7,
        175,
        1
    ],
    [
        1295.7,
        264.9,
        1
    ],
    [
        704,
        181.6,
        1
    ],
    [
        1230,
        205.2,
        1
    ],
    [
        1107.1,
        213.2,
        1
    ],
    [
        1274.5,
        278,
        1
    ],
    [
        673.2,
        188,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1165.9,
        218.5,
        1
    ],
    [
        1319,
        273.7,
        1
    ],
    [
        1315,
        280.6,
        0
    ],
    [
        1099,
        231.5,
        0
    ],
    [
        1415.2,
        258.1,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        1358.3,
        265.4,
        0
    ],
    [
        1140,
        245,
        0
    ],
    [
        1431.3,
        249.8,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1392.1,
        267.8,
        1
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        900.6,
        196.8,
        1
    ],
    [
        45.5,
        153,
        0
    ],
    [
        1459.9,
        267.4,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1460.1,
        299.9,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        0,
        0,
        0
    ],
    [
        1085.5,
        200.8,
        1
    ],
    [
        1317.2,
        252.1,
        0
    ]
]
,

};

</script>



