{% extends "layout.njk" %}
{% block content %}

  <section id="sign-up" class="action-form">
    <div class="container form-flex">
      {% include "form-unified/form-base.njk" %}
    </div>
  </section>

{% endblock %}
