{% set active_page = 'lafires-recovery' %}
{% extends "layout.njk" %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/lenis@1.3.8/dist/lenis.css">
<script src="https://unpkg.com/lenis@1.3.8/dist/lenis.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

<link rel="stylesheet" href="/css/deliberation-findings.css" />

<section id="findings-overview" class="hero">
  <div class="container findings-overview-container">
    <div class="row">
      <div class="col-lg-8">
        {{ modules.findings_overview.content | safe }}
        <p>
            <a data-appearance="button" data-theme="orange" href="#findings-consensus" class="m-t">{{ modules.findings_overview.buttonText }}</a>
        </p>

      </div>
    </div>
    <img class="findings-adornment" src="/public/images/findings-adornment.png" aria-hidden="true" alt="" />
  </div>
</section>

<section id="findings-narrative-steps">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="center-container">
          <div class="center-body">
            <div class="findings-narrative-step-1 findings-narrative-step ">
              {{ modules.findings_narrative_step_1.content | safe }}
            </div>
            <div class="findings-narrative-step-2 findings-narrative-step ">
              {{ modules.findings_narrative_step_2.content | safe }}
            </div>
            <div class="findings-narrative-step-3 findings-narrative-step ">
              {{ modules.findings_narrative_step_3.content | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="findings-narrative-top-options">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="center-container">
          <div class="center-body-lg">
            <div class="findings-narrative-top-options-title">
              <h2>{{ modules.findings_narrative_top_options.title_h2 | safe }}</h2>
            </div>
            <div class="findings-narrative-top-options-tally-list">
              <div class="findings-narrative-tally-box">
                <div class="option-total">{{ modules.findings_narrative_top_options.value_1 }}</div>
                <div class="option-label">{{ modules.findings_narrative_top_options.label_1 }}</div>
              </div>
              <div class="findings-narrative-tally-box">
                <div class="option-total">{{ modules.findings_narrative_top_options.value_2 }}</div>
                <div class="option-label">{{ modules.findings_narrative_top_options.label_2 }}</div>
              </div>
              <div class="findings-narrative-tally-box">
                <div class="option-total">{{ modules.findings_narrative_top_options.value_3 }}</div>
                <div class="option-label">{{ modules.findings_narrative_top_options.label_3 }}</div>
              </div>
            </div>
            <div class="findings-narrative-top-options-subtitle">
              <h2>{{ modules.findings_narrative_top_options.subtitle_h2 | safe }}</h2>
            </div>
          </div>
        </div>

        <div class="findings-narrative-top-options-options-list">
          {% for i in range(1, modules.findings_narrative_top_options.nbr_options + 1) %}
          <!-- this will mimic the other report -->
          <div class="findings-narrative-top-options-option-box">
            <img class="findings-option-icon png-icon" src="/public/images/{{ modules.findings_narrative_top_options["option_icon_" + i] }}" aria-hidden="true" alt="{{ modules.findings_narrative_top_options["option_icon_alt_" + i] }}">
            <div class="option-label">{{ modules.findings_narrative_top_options["option_label_" + i] }}</div>
          </div>
          {% endfor %}
        </div>

        <div class="center-container">
          <div class="center-body">
            <div class="findings-narrative-top-options-followup-text">
              <div class="option-description">{{ modules.findings_narrative_top_options.followup_text }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="findings-consensus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
            <div class="findings-consensus-intro">
             <h2>{{ modules.findings_consensus_watch_intro.title_h2 | safe }}</h2>
            </div>
      </div>
      <div class="col-lg-8">
            <div class="findings-consensus-intro">
             {{ modules.findings_consensus_watch_intro.content | safe }}
            </div>
      </div>
      <div class="col-lg-12">
            <div id="findings-consensus-progressbar-container">
              <canvas id="findings-consensus-progressbar-canvas" width="1200" height="16"></canvas>
            </div>
      </div>
      <div class="col-lg-8">
            <div id="findings-consensus-sentiment-chart-topic-number" class="style-small-body-text">
              Topic 1 of 19
            </div>
            <div id="findings-consensus-sentiment-chart-title" class="findings-consensus-sentiment-chart-title style-strong-body-text">
            {{ modules.findings_consensus_watch_explore.label_1 | safe }}
            </div>
      </div>
      <div class="col-lg-12">
        <div id="findings-consensus-sentiment-chart-dataviz-container">
          <canvas id="findings-consensus-sentiment-chart-dataviz-canvas" width="1200" height="310"></canvas>
        </div>
        <div class="findings-consensus-sentiment-chart">
          <div class="data-viz-1-labels ">
            <div class="data-viz-1-labelv style-small-body-text">
              {{ modules.findings_consensus_sentiment_chart.label_1 }}
            </div>
            <div class="data-viz-1-label style-small-body-text">
              {{ modules.findings_consensus_sentiment_chart.label_2 }}
            </div>
            <div class="data-viz-1-label style-small-body-text">
              {{ modules.findings_consensus_sentiment_chart.label_3 }}
            </div>
          </div>
        </div>

        <div class="findings-consensus-outro">
          <p>{{ modules.findings_consensus_watch_explore.outro | safe }}</p>
        </div>


      </div>
    </div>
  </div>
</section>

<div id="consensus-chart-outro-trigger">
</div>

<section id="findings-top-discussions">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="findings-top-discussions-intro">
          <h2>{{ modules.findings_top_discussions.title_h2 | safe }}</h2>
        </div>
        <div class="findings-top-discussions-intro">
          {{ modules.findings_top_discussions.content | safe }}
        </div>
      </div>
      <div class="col-lg-12 findings-top-discussions-picker-container">
        <div class="findings-top-discussions-picker-instructions style-strong-small-body-text">
          {{ modules.findings_top_discussions.picker_instructions | safe }}
        </div>
        <div class="findings-top-discussions-picker-list">
          <div class="findings-top-discussions-picker-box active">
            <div class="option-label">{{ modules.findings_top_discussions.picker_label_1 }}</div>
          </div>
          <div class="findings-top-discussions-picker-box">
            <div class="option-label">{{ modules.findings_top_discussions.picker_label_2 }}</div>
          </div>
          <div class="findings-top-discussions-picker-box">
            <div class="option-label">{{ modules.findings_top_discussions.picker_label_3 }}</div>
          </div>
        </div>



      </div>
    </div>
    <div class="topic-section upper-divider">
      <div class="row">
        <div class="col-lg-12">
          <div class="findings-discussions-topic-title-container">
            <div class="findings-discussions-topic-step-number">
              <img src="/public/images/circle-blue-1.svg" alt="Topic 1" />
            </div>
            <div class="findings-discussions-topic-title style-h3">
              <h3>{{ modules.discussion_1.title_h3 | safe }}</h3>
            </div>
            <div class="findings-discussions-topic-expander">
              <img src="/public/images/circle-expander-plus.svg" alt="Topic 1" />
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="findings-discussions-topic-solution-details-label style-strong-small-body-text">
            {{ modules.findings_top_discussions.solution_details_label | safe }}
          </div>
          <div class="findings-discussions-topic-description">
            {{ modules.discussion_1.topic_description | safe }}
          </div>
          <div class="findings-discussions-topic-result">
            {{ modules.discussion_1.topic_result | safe }}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="findings-top-discussions-tally-list">
            <div class="findings-top-discussions-tally-box">
              <div class="option-total">{{ modules.discussion_1.value_1 }}</div>
              <div class="option-label style-body-text">{{ modules.discussion_1.label_1 }}</div>
            </div>
            <div class="findings-top-discussions-tally-box">
              <div class="option-total">{{ modules.discussion_1.value_2 }}</div>
              <div class="option-label style-body-text">{{ modules.discussion_1.label_2 }}</div>
            </div>
            <div class="findings-top-discussions-tally-box">
              <div class="option-total">{{ modules.discussion_1.value_3 }}</div>
              <div class="option-label style-body-text">{{ modules.discussion_1.label_3 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="style-strong-body-text">
            {{ modules.topic_data_vis.title }}
          </div>
          <div>
            {{ modules.topic_data_vis.desc }}
          </div>
          <div id="findings-top-topics-dataviz-container" class="findings-top-topics-data-viz dataviz">
            <canvas id="findings-top-topics-dataviz-canvas" width="1200" height="400"></canvas>
          </div>
          <div class="data-viz-2-labels">
            <div class="data-viz-2-label">
              {{ modules.findings_consensus_sentiment_chart.label_1 }}
            </div>
            <div class="data-viz-2-label">
              {{ modules.findings_consensus_sentiment_chart.label_2 }}
            </div>
            <div class="data-viz-2-label">
              {{ modules.findings_consensus_sentiment_chart.label_3 }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="topic-comments-scroller-label style-strong-body-text">
            {{ modules.topic_comments_scroller.label }}
          </div>
          <div class="topic-comments-scroller-desc">
            <i>{{ modules.topic_comments_scroller.desc }}</i>
          </div>
          <div class="topic-comments-scroller">
            <p><i>Comments will appear here...</i></p>
          </div>
        </div>
      </div>
    </div>

   {% for i in range(2, 5) %}  

    <div class="topic-section upper-divider">

      <div class="row">
        <div class="col-lg-12">
          <div class="findings-discussions-topic-title-container">
            <div class="findings-discussions-topic-step-number">
              <img src="/public/images/circle-blue-{{ i }}.svg" alt="Topic {{ i }}" />
            </div>
            <div class="findings-discussions-topic-title style-h3">
              <h3>{{ modules['discussion_' ~ i].title_h3 | safe }}</h3>
            </div>
            <div class="findings-discussions-topic-expander">
              <img src="/public/images/circle-expander-plus.svg" alt="Topic 1" />
            </div>
          </div>
        </div>
      </div>

    </div>
   {% endfor %}  

  </div>
</section>

<section id="findings-ring-chart-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ringchart-chart">
        <div id="ringchart-canvas-container">
            <canvas id="ringchart-canvas" width="570" height="500"></canvas>
        </div>
      </div>
      <div class="col-lg-6 ringchart-legend">
        <div class="ring-chart-legend-header style-h2">
          {{ modules.ring_chart.legend_header | safe }}
        </div>
        <div class="ring-chart-legend-explain">
          {{ modules.ring_chart.legend_copy | safe }}
        </div>
      </div>
      <div class="col-lg-12 ring-chart-followup-text">
         {{ modules.ring_chart.content | safe }}
      </div>
    </div>
  </div>
</section>

<section id="findings-signup-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          {{ modules.signup_plea.content | safe }}
      </div>
      <div class="col-lg-12">
        <div class="signup-button">
          <a data-appearance="button" data-theme="orange" href="#">{{ modules.signup_plea.button_text | safe }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="what-were-doing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="findings-no-indent-container">
                    {{ modules.findings_how_we_are_responding.content | safe }}
                </div>
                <div class="findings-no-indent-container findings-responding-list-container collapsed">
                    {# <div class="findings-responding-list-title">{{ modules.findings_how_we_are_responding_list.title }}</div> #}
                    {% for i in range(1, modules.findings_how_we_are_responding_list.nbr_items + 1) %}  
                    <div class="findings-responding-item">
                        <div class="findings-responding-item-title">{{ modules.findings_how_we_are_responding_list['item_' + i + '_title'] }}</div>
                        <div class="findings-responding-item-text">{{ modules.findings_how_we_are_responding_list['item_' + i + '_text'] | safe }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div id="findings-responding-show-all-button-container" class="findings-button-container">
                    <button id="findings-responding-show-all-button" class="findings-show-all-button button-reset open" aria-expanded="false" aria-controls="findings-responding-list-container">
                            <div class="findings-responding-show-all-button-label">{{ modules.findings_how_we_are_responding.buttonText }}</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="partners" class="action-hero deliberation-partners">
  <div class="container">
    {{ modules.partners.content | safe }}
    <engca-partner-flex>
      <img src="/public/images/carnegie.svg" alt="Carnegie Endowment for International Peace" />
      <img src="/public/images/liberty-color.png" alt="Project Liberty Institute" />
      <img src="/public/images/berggruen.svg" alt="Berggruen Institute" />
      <img src="/public/images/stanford.png" alt="Stanford Deliberative Democracy Lab, Center on Democracy, Development and the Rule of Law" />
      <img src="/public/images/berkman-klein.svg" alt="Berkman Klein Center for internet & society at Harvard University" />
      <img src="/public/images/ppic.svg" alt="PPIC" />
      <img src="/public/images/sff.png" alt="San Francisco Foundation" />
      <img src="/public/images/american-public-trust.png" alt="The American Public Trust" />
      <img src="/public/images/public-good-group.png" alt="Public Good Group" />
      <img src="/public/images/goldman-school.svg" alt="UC Berkeley Center on Civility & Democratic Engagement, Goldman School of Public Policy, Founded by the Class of 1968" />
      <img src="/public/images/kapor-center.svg" alt="Kapor Center" />
    </engca-partner-flex>
  </div>
</section>



<section id="findings-how-we-did">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="findings-no-indent-container">
                    {{ modules.findings_how_we_did_the_analysis.content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>


{% include "lafires-consensus-chart.njk" %}
{% include "lafires-topics-chart.njk" %}
{% include "lafires-ring-chart.njk" %}
{% include "lafires-deliberation-utilities.njk" %}
{% include "lafires-scroll-animation.njk" %}

{% endblock %}