{% extends "layout.njk" %}
{% block content %}

<style>
div.center-body {
   text-align: center;
   max-width: 772px;
}

div.center-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

div.findings-narrative-step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

div.findings-discussions-topic-description {
}

div.findings-discussions-topic-result {
  margin-left: 30px;
}

.findings-narrative-top-options-tally-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.findings-narrative-tally-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  padding: 1rem 0.5rem;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

.findings-top-discussions-tally-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.findings-top-discussions-tally-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  padding: 1rem 0.5rem;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

.findings-top-discussions-picker-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.findings-top-discussions-picker-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  padding: 1rem 0.5rem;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}




.option-total {
  font-size: 2rem;
  font-weight: bold;
  color: #2d3a4a;
  margin-bottom: 0.25rem;
}

.option-label {
  font-size: 1rem;
  color: #5a6a7a;
  text-align: center;
}

.findings-narrative-top-options-options-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.findings-narrative-option-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  padding: 1rem 0.5rem;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

.ringchart-legend {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
}

.test-margins {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.test-dataviz {
   width: 100%;
   height: 200px;
   background-color: #EEE;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.data-viz-1-labels {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.data-viz-1-label:first-child {
  text-align: left;
  justify-content: flex-start;
}

.data-viz-1-label:last-child {
  text-align: right;
  justify-content: flex-end;
}

.data-viz-1-label {
  flex: 1;
  text-align: center;
}

div#findings-consensus-sentiment-chart-dataviz-container {
  width: 100%;       /* Take up the available width */
  margin-top: 1rem;
  margin-bottom: 2rem;
}

canvas#findings-consensus-sentiment-chart-dataviz-canvas {
  width: 100%;       /* Scale to container's width */
  height: auto;      /* Keep aspect ratio */
  display: block;    /* Remove inline spacing */
}

.data-viz-2-labels {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.data-viz-2-label:first-child {
  text-align: left;
  justify-content: flex-start;
}

.data-viz-2-label:last-child {
  text-align: right;
  justify-content: flex-end;
}

.data-viz-2-label {
  flex: 1;
  text-align: center;
}

.topic-comments-scroller {
   width: 100%;
   height: 400px;
   background-color: #EEE;
   margin-top: 1rem;
   margin-bottom: 1rem;
}


.test-ringchart {
  width: 100%;
  height: 400px;
  background-color: #EEE;
}

.ring-chart-legend-tally {
  font-weight: 700;
  font-size: 30px;
}
.ring-chart-legend-tally span.total {
  font-weight: 900;
  font-size: 37px;
}

section#partners.deliberation-partners {
  background-color: #F6F7FA;
}

.style-strong-body-text {
  font-weight: 600;
  font-size: 23px;
}
.style-strong-small-body-text {
  font-weight: 600;
  font-size: 18px;
}
.style-small-body-text {
  font-weight: 400;
  font-size: 18px;
}
.style-body-text {
  font-weight: 400;
  font-size: 23px;
}
.style-callout-text {
  font-weight: 600;
  font-size: 20px;
}
.upper-divider {
   border-top: 2px solid #EEE;
}
.lower-divider {
   border-bottom: 2px solid #EEE;
}

</style>

<section id="findings-overview" class="hero">
  <div class="container findings-overview-container">
    <div class="row">
      <div class="col-lg-12 ">
        {{ modules.findings_overview.content | safe }}
      </div>
    </div>
    <img class="findings-adornment" src="/public/images/findings-adornment.png" aria-hidden="true" alt="" />
  </div>
</section>

<section id="findings-narrative-steps">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="center-container">
          <div class="center-body">
            <div class="findings-narrative-step-1 findings-narrative-step ">
              {{ modules.findings_narrative_step_1.content | safe }}
            </div>
            <div class="findings-narrative-step-2 findings-narrative-step ">
              {{ modules.findings_narrative_step_2.content | safe }}
            </div>
            <div class="findings-narrative-step-3 findings-narrative-step ">
              {{ modules.findings_narrative_step_3.content | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="findings-narrative-top-options">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="center-container">
          <div class="center-body">
            <div class="findings-narrative-top-options-title">
              <h2>{{ modules.findings_narrative_top_options.title_h2 | safe }}</h2>
            </div>
            <div class="findings-narrative-top-options-tally-list  test-margins">
              <div class="findings-narrative-tally-box">
                <div class="option-total">{{ modules.findings_narrative_top_options.value_1 }}</div>
                <div class="option-label">{{ modules.findings_narrative_top_options.label_1 }}</div>
              </div>
              <div class="findings-narrative-tally-box">
                <div class="option-total">{{ modules.findings_narrative_top_options.value_2 }}</div>
                <div class="option-label">{{ modules.findings_narrative_top_options.label_2 }}</div>
              </div>
              <div class="findings-narrative-tally-box">
                <div class="option-total">{{ modules.findings_narrative_top_options.value_3 }}</div>
                <div class="option-label">{{ modules.findings_narrative_top_options.label_3 }}</div>
              </div>
            </div>
            <div class="findings-narrative-top-options-subtitle">
              <h2>{{ modules.findings_narrative_top_options.subtitle_h2 | safe }}</h2>
            </div>
          </div>
        </div>

        <div class="findings-narrative-top-options-options-list  test-margins">
          {% for i in range(1, modules.findings_narrative_top_options.nbr_options + 1) %}
          <div class="findings-narrative-top-options-option-box">
            <div class="option-label">{{ modules.findings_narrative_top_options["option_label_" + i] }}</div>
          </div>
          {% endfor %}
        </div>

        <div class="center-container">
          <div class="center-body">
            <div class="findings-narrative-top-options-followup-text">
              <div class="option-description">{{ modules.findings_narrative_top_options.followup_text }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="findings-consensus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="center-container">
          <div class="center-body">
            <div class="findings-consensus-intro">
              {{ modules.findings_consensus_watch_intro.content | safe }}
            </div>
            <div id="findings-consensus-sentiment-chart-title" class="findings-consensus-sentiment-chart-title test-margins style-strong-body-text">
            {{ modules.findings_consensus_watch_explore.label_1 | safe }}
            </div>
          </div>
        </div>


        <div class="findings-consensus-sentiment-chart">
          <div id="findings-consensus-sentiment-chart-dataviz-container" class="test-dataviz test-margins"><canvas id="findings-consensus-sentiment-chart-dataviz-canvas" width="1200" height="400"></canvas></div>


          <div class="data-viz-1-labels">
            <div class="data-viz-1-label">
              {{ modules.findings_consensus_sentiment_chart.label_1 }}
            </div>
            <div class="data-viz-1-label">
              {{ modules.findings_consensus_sentiment_chart.label_2 }}
            </div>
            <div class="data-viz-1-label">
              {{ modules.findings_consensus_sentiment_chart.label_3 }}
            </div>
          </div>



        </div>

        <div class="center-container">
          <div class="center-body">
            <div class="findings-consensus-outro test-margins">
              {{ modules.findings_consensus_watch_explore.content | safe }}
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>


<section id="findings-top-discussions">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="findings-top-discussions-intro">
          <h2>{{ modules.findings_top_discussions.title_h2 | safe }}</h2>
        </div>
        <div class="findings-top-discussions-intro">
          {{ modules.findings_top_discussions.content | safe }}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="findings-top-discussions-picker-list">
          <div class="findings-top-discussions-picker-box">
            <div class="option-label">{{ modules.findings_top_discussions.picker_label_1 }}</div>
          </div>
          <div class="findings-top-discussions-picker-box">
            <div class="option-label">{{ modules.findings_top_discussions.picker_label_2 }}</div>
          </div>
          <div class="findings-top-discussions-picker-box">
            <div class="option-label">{{ modules.findings_top_discussions.picker_label_3 }}</div>
          </div>
        </div>



      </div>
    </div>
    <div class="topic-section upper-divider test-margins">
      <div class="row">
        <div class="col-lg-8">
          <div class="findings-discussions-topic-title">
            <h3>{{ modules.discussion_1.title_h3 | safe }}</h3>
          </div>
          <div class="findings-discussions-topic-description style-small-body-text">
            {{ modules.discussion_1.topic_description | safe }}
          </div>
          <div class="findings-discussions-topic-result test-margins">
            {{ modules.discussion_1.topic_result | safe }}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="findings-top-discussions-tally-list">
            <div class="findings-top-discussions-tally-box">
              <div class="option-total">{{ modules.discussion_1.value_1 }}</div>
              <div class="option-label">{{ modules.discussion_1.label_1 }}</div>
            </div>
            <div class="findings-top-discussions-tally-box">
              <div class="option-total">{{ modules.discussion_1.value_2 }}</div>
              <div class="option-label">{{ modules.discussion_1.label_2 }}</div>
            </div>
            <div class="findings-top-discussions-tally-box">
              <div class="option-total">{{ modules.discussion_1.value_3 }}</div>
              <div class="option-label">{{ modules.discussion_1.label_3 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="style-strong-body-text test-margins">
            {{ modules.topic_data_vis.title }}
          </div>
          <div>
            {{ modules.topic_data_vis.desc }}
          </div>
          <div class="findings-top-topics-data-viz test-dataviz test-margins">
            data-viz-2
          </div>
          <div class="data-viz-2-labels">
            <div class="data-viz-2-label">
              {{ modules.findings_consensus_sentiment_chart.label_1 }}
            </div>
            <div class="data-viz-2-label">
              {{ modules.findings_consensus_sentiment_chart.label_2 }}
            </div>
            <div class="data-viz-2-label">
              {{ modules.findings_consensus_sentiment_chart.label_3 }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="test-margins topic-comments-scroller-label style-strong-body-text">
            {{ modules.topic_comments_scroller.label }}
          </div>
          <div class="test-margins topic-comments-scroller-desc">
            <i>{{ modules.topic_comments_scroller.desc }}</i>
          </div>
          <div class="topic-comments-scroller">
          </div>
        </div>
      </div>
    </div>
    <div class="topic-section test-margins upper-divider">
      Topic 2 expander...
    </div>
    <div class="topic-section test-margins upper-divider">
      Topic 3 expander...
    </div>
    <div class="topic-section test-margins upper-divider">
      Topic 4 expander...
    </div>
    <div class="topic-section test-margins upper-divider lower-divider">
      Topic 5 expander...
    </div>
  </div>
</section>

<section id="findings-ring-chart-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ringchart-chart">
        <div class="test-ringchart">ring-chart</div>
      </div>
      <div class="col-lg-6 ringchart-legend">
        <div class="ring-chart-legend-tally">
          <span class="total">{{ modules.ring_chart.legend_header_1_tally | safe }}</span>
          <span>{{ modules.ring_chart.legend_header_h3_1 | safe }}</span>
        </div>
        <div class="ring-chart-legend-explain test-margins">
          {{ modules.ring_chart.legend_copy_1 | safe }}
        </div>
      </div>
      <div class="col-lg-12 test-margins">
          <div class="center-container">
            <div class="test-margins center-body">
            {{ modules.ring_chart.content | safe }}
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="findings-signup-section">
    <div class="center-container">
      <div class="container center-body">
        <div class="row">
          <div class="col-lg-12">
              {{ modules.signup_plea.content | safe }}
          </div>
          <div class="col-lg-12">
            <div class="signup-button">
              <a href="#">{{ modules.signup_plea.button_text | safe }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="what-were-doing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="findings-no-indent-container">
                    {{ modules.findings_how_we_are_responding.content | safe }}
                </div>
                <div class="findings-no-indent-container findings-responding-list-container collapsed">
                    {# <div class="findings-responding-list-title">{{ modules.findings_how_we_are_responding_list.title }}</div> #}
                    {% for i in range(1, modules.findings_how_we_are_responding_list.nbr_items + 1) %}  
                    <div class="findings-responding-item">
                        <div class="findings-responding-item-title">{{ modules.findings_how_we_are_responding_list['item_' + i + '_title'] }}</div>
                        <div class="findings-responding-item-text">{{ modules.findings_how_we_are_responding_list['item_' + i + '_text'] | safe }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div id="findings-responding-show-all-button-container" class="findings-button-container">
                    <button id="findings-responding-show-all-button" class="findings-show-all-button button-reset open" aria-expanded="false" aria-controls="findings-responding-list-container">
                            <div class="findings-responding-show-all-button-label">{{ modules.findings_how_we_are_responding.buttonText }}</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="partners" class="action-hero deliberation-partners">
  <div class="container">
    {{ modules.partners.content | safe }}
    <engca-partner-flex>
      <img src="/public/images/carnegie.svg" alt="Carnegie Endowment for International Peace" />
      <img src="/public/images/liberty-color.png" alt="Project Liberty Institute" />
      <img src="/public/images/berggruen.svg" alt="Berggruen Institute" />
      <img src="/public/images/stanford.png" alt="Stanford Deliberative Democracy Lab, Center on Democracy, Development and the Rule of Law" />
      <img src="/public/images/berkman-klein.svg" alt="Berkman Klein Center for internet & society at Harvard University" />
      <img src="/public/images/ppic.svg" alt="PPIC" />
      <img src="/public/images/sff.png" alt="San Francisco Foundation" />
      <img src="/public/images/american-public-trust.png" alt="The American Public Trust" />
      <img src="/public/images/public-good-group.png" alt="Public Good Group" />
      <img src="/public/images/goldman-school.svg" alt="UC Berkeley Center on Civility & Democratic Engagement, Goldman School of Public Policy, Founded by the Class of 1968" />
      <img src="/public/images/kapor-center.svg" alt="Kapor Center" />
    </engca-partner-flex>
  </div>
</section>



<section id="findings-how-we-did">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="findings-no-indent-container">
                    {{ modules.findings_how_we_did_the_analysis.content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>



<script>
let voteData = null;

function render_consensus_topic(canvas, topic_index) {
    console.log("render_topic", topic_index);


    let topic_names = voteData['topics'];
    let long_topic_name = (topic_index + 1) + ". " + topic_names[topic_index][1];
    document.getElementById('findings-consensus-sentiment-chart-title').innerHTML = long_topic_name;

    let userRecs = voteData['user_recs'];

    ctx = canvas.getContext('2d');

    ctx.fillStyle = "#fff";
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    let fUserRecords = userRecs.filter(rec => rec.tid == topic_index);

    // For each user record, render an ellipse
    let ellipse_radius = 10;
    let bandWidth = ctx.canvas.width / 7;
    let adj_band = bandWidth - ellipse_radius*2;

    fUserRecords.forEach(rec => {


        // rec.v is a string, convert to int
        let likert = rec.v
        // Clamp likert to [1,7]
        if (likert < 1) likert = 1;
        if (likert > 7) likert = 7;

        // Calculate x position: likert 1-7 mapped evenly across the width
        // Center ellipses in each band
        let nbr_users = voteData && voteData.nbr_users ? voteData.nbr_users : 1;


        let x = bandWidth * (likert - 0.5);


        x_offset = rec.rx * adj_band - adj_band / 2;
        x += x_offset;


        // y position: random within the band height, with some padding
        // The height should be uid/nbr_users
        let y = ellipse_radius + rec.ry * (ctx.canvas.height-ellipse_radius*2);

        // Color: use voteData.vote_colors if available, else fallback
        let color = voteData && voteData.vote_colors ? voteData.vote_colors[likert] : "#1f77b4";

        ctx.save();
        ctx.beginPath();
        ctx.ellipse(x, y, ellipse_radius, ellipse_radius, 0, 0, 2 * Math.PI);
        ctx.fillStyle = color;
        {# ctx.globalAlpha = 0.5; #}
        ctx.fill();
        ctx.restore();
    });
}

function setup_consensus_chart() {
    console.log("voteData record 0", voteData['user_recs'][0]);
    const canvas = document.getElementById('findings-consensus-sentiment-chart-dataviz-canvas');
    canvas.width = 1500;
    canvas.height = 310;

    let userRecs = voteData['user_recs'];

    userRecs.forEach(rec => {
        rec.rx = Math.random();
        rec.ry = rec.uid / voteData.nbr_users;
    });

    // Fill the canvas with white

    let   topic_number = 0;

    render_consensus_topic(canvas, topic_number);

    setInterval(() => {
        topic_number++;
        if (topic_number >= voteData.topics.length) {
            topic_number = 0;
        }
        render_consensus_topic(canvas, topic_number);
    }, 1000);

}

document.addEventListener('DOMContentLoaded', function() {


    fetch("/public/data/lafires_voting_data_v1.json", {})
    .then(response => response.json())
    .then(data => {
      // console.log("Data fetched:", data);
      voteData = data;
      setup_consensus_chart();
    })
    .catch(error => {
      console.error("Error fetching data:", error);
    });



});




</script>


{% endblock %}