---
title: About the program
tags:
  - pages
---
<section id="about-page-heading">
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</section>

{%- macro section(snippet, shaded=false) %}
<section {% if shaded -%}class="about-page-shaded"{%- endif -%}>
  <div class="container about-section-flex">
    <engca-icon-heading>
      <img src="{{ snippet.data.icon }}" aria-hidden="true">
      <h2>{{ snippet.data.title }}</h2>
    </engca-icon-heading>
    <engca-section-content>
      {{ snippet.htmlContent | safe }}
    </engca-section-content>
  </div>
</section>
{% endmacro -%}

{% set weNeedYourVoice = collections.snippets | getSnippet("about-page-we-need-your-voice") %}
{{ section(weNeedYourVoice, shaded = false) }}

{% set youGetTheMic = collections.snippets | getSnippet("about-page-you-get-the-mic") %}
{{ section(youGetTheMic, shaded = true) }}

{% set theProcess = collections.snippets | getSnippet("about-page-process") %}
{{ section(theProcess, shaded = false) }}

{% set whatYouCanLearn = collections.snippets | getSnippet("about-page-what-you-can-learn") %}
{{ section(whatYouCanLearn, shaded = true) }}

<section id="sign-up">
  <div class="container form-flex">
    {% include "form.njk" %}
  </div>
</section>