---
title: Sitemap
description: Sitemap for the Engaged California website.
permalink: /sitemap/
keywords:
  - sitemap
  - engagement
  - issues
  - california
  - government
layout: page
eleventyExcludeFromCollections: true
locale: en
dir: ltr
---

<h1>Sitemap</h1>
<a href="/">Engaged California homepage</a>

<h2>Pages</h2>

{%- for lang, pages in collections.pages | groupby("data.lang") %}
  {% if pages[0].data.lang !== "fr" %}
    <h3>{{ 'language-label' | i18n(pages[0].data.lang) }}</h3>
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
    {% if not loop.last %}
      <hr />
    {% endif %}
  {% endif %}
{%- endfor %}
