---
title: Sitemap
description: Sitemap for the Engaged California website.
permalink: /sitemap/
keywords:
  - sitemap
  - engagement
  - issues
  - california
  - government
layout: page
eleventyExcludeFromCollections: true
locale: en
dir: ltr
---

<h1>Sitemap</h1>
<a href="/">Engaged California homepage</a>

{%- for lang, pages in collections.pages | groupby("data.lang") %}
  {% if lang == "en" %}
    <h2>Pages</h2>
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}


  {% if lang == "es" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "fa" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}


  {% if lang == "fr" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "hy" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "ko" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "tl" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "vi" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "zh-hans" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if lang == "zh-hant" %}
    <hr />
    <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

{%- endfor %}
