---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
{%- macro url(page) %}
  <url>
    <loc>https://engaged.ca.gov{{ page.url | url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>daily</changefreq>
  </url>
{% endmacro -%}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set homepage = collections.all | findByUrl("/") %}
  {{ url(homepage) }}
  {%- for page in collections.pages %}
    {{ url(page) }}
  {%- endfor %}
</urlset>