---
title: Sitemap
permalink: /sitemap/
layout: page
eleventyExcludeFromCollections: true
locale: en
dir: ltr
---

<h1>Sitemap</h1>
<a href="/">Engaged California Homepage</a>
<h2>Pages</h2>
<ul>
  {%- for page in collections.pages %}
    <li>
      <a href="{{ page.url }}">{{ page.data.title }}</a>
    </li>
  {%- endfor %}
</ul>