{#
    i18nkey - (String) The key of the text string as definited in i18n.js
    id - (Integer or string) Suffix of the mailchimp `id` field value
    name - (Integer or string) Suffix of the mailchimp `name` field value
    attributes - (String) Add a space separated list of attributes such as "checked required"
#}

{% macro data(i8nkey, group, id, name, attributes) %}
    <input type="checkbox" class="form-check-input" id="mce-group[{{ group }}]-{{ group }}-{{ id }}" name="group[{{ group }}][{{ name }}]" value="{{ i8nkey }}" {{ attributes }}>
    <label class="form-control-label form-checkbox-label" for="mce-group[{{ group }}]-{{ group }}-{{ id }}">
        {{ i8nkey }}
    </label>
{% endmacro %}