{#
i18nkey - (String) The key of the text string as definited in i18n.js
#}

{% macro data(i8nkey) %}

<input type="submit" id="mc-embedded-subscribe" name="subscribe" data-theme="orange" value="{{ i8nkey }}">
{% endmacro %}