---
title: Acerca del programa
description: Cómo este programa empoderará a los californianos para expresar su opinión e influir en las políticas.
keywords:
  - engagement
  - issues
  - california
  - government
permalink: /about/
tags:
  - pages
locale: es
dir: ltr
---
{% extends "../_includes/base-about.njk" %}
