---
description: Engaged California is an online platform that makes it easier for Californians to have a voice in government.
keywords:
  - engagement
  - issues
  - california
  - government
---
{% extends "../_includes/base-homepage.njk" %}
