---
title: Los Angeles fires recovery
description: Engaged California is an online platform that makes it easier for Californians to have a voice in government. Engaged California's first topic is recovery from the Los Angeles wildfires.
keywords:
  - Los Angeles
  - fires
  - recovery
tags:
  - pages
---

{% extends "../_includes/base-lafires.njk" %}