{# Import macros. #}
{% import "macros/form-checkbox.njk" as checkbox %}
{% import "macros/form-radio.njk" as radio %}
{% import "macros/form-action.njk" as action %}
{% import "macros/form-submit.njk" as submit %}

{# Begin HTML. #}
<h2>{{ 'join-the-conversation' | i18n }}</h2>
<p>{{ 'join-the-conversation-form-label' | i18n }}</p>

<engca-join-convo-form>

  {{ action.data("23461fc80f") }}

  {% include 'forms/field-email.njk' %}
  <h3 class="form-title">{{ 'topics-interests-label' | i18n }}</h3>

  <ul class="form-checkbox-list">
    <li>{{ checkbox.data('topic-los-angeles-fires-recovery-eaton' | i18n, "1552878c1b") }}</li>
    <li>{{ checkbox.data('topic-los-angeles-fires-recovery-palisades' | i18n, "40c0f946cd") }}</li>
    <li>{{ checkbox.data('topic-future-topics' | i18n, "4d15bd19e5", "checked") }}</li>
  </ul>

  <engca-form-error id="apiError" hidden>
    <strong>{{ 'form-problem-message' | i18n }}</strong>
    {{ 'form-problem-message-2' | i18n }}
  </engca-form-error>
  <engca-form-error id="stateEmployeeError" hidden>
    <strong>{{ 'form-problem-state-employee-not-checked' | i18n }}</strong>
  </engca-form-error>

  {{ submit.data('form-submit-button' | i18n) }}

  </form>

  <engca-form-success aria-live="polite"></engca-form-success>
  <template id="form-success-msg">
    <p>
      <strong>{{ 'form-success-message' | i18n }}</strong>
    </p>
    <img width="75" height="75" src="/public/images/check-circle.svg" aria-hidden="true" alt="" />
    <p>{{ 'form-success-message-2' | i18n }}</p>
  </template>
</engca-join-convo-form>
<p>
  {{ 'form-privacy-message' | i18n | safe }} 
  {{ 'form-privacy-message-1' | i18n | safe }}
</p>