---
title: Ծրագրի մասին
description: How this program will empower Californians to speak their mind and influence policy.
keywords:
  - engagement
  - issues
  - california
  - government
tags:
  - pages
---
{% extends "../_includes/base-about.njk" %}
