{# Import macros. #}
{% import "macros/form-checkbox.njk" as checkbox %}
{% import "macros/form-radio.njk" as radio %}
{% import "macros/form-action.njk" as action %}
{% import "macros/form-submit.njk" as submit %}

{# Begin HTML. #}
<engca-join-convo-form>

  {# HEADING. #}
  <h2>{{ 'join-the-conversation' | i18n }}</h2>
  <p>{{ 'join-the-conversation-form-label' | i18n }}</p>

  {# FORM. #}
  <form
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_self"
      {# Change data-env value to "test" to use test variables in index.js. #}
      data-env="test"
      novalidate
  >

    {# Email. #}
    {% include 'form-unified/email.njk' %}
    {# - #}

    {# Which discussion #}
    <h3 class="form-title">{{ 'topics-interests-label' | i18n }}</h3>
    <ul class="form-checkbox-list">
      <li>{{ checkbox.data(formVars.label_fires) }}</li>
      <li>{{ checkbox.data(formVars.label_employees) }}</li>
      <li>{{ checkbox.data(formVars.label_future) }}</li>
    </ul>
    {# - #}

    {# Fires options. #}
    <label class="form-control-label" for="radio-group-label">
      <span aria-hidden="true">*</span>
      <span class="sr-only">{{ 'required-label' | i18n }}:</span>
      {{ 'topic-los-angeles-fires-recovery-evacuation-label' | i18n }}
    </label>
    <ul class="form-radio-list">
      <li>{{ radio.merge_field_data('topic-los-angeles-fires-recovery-evacuation-eaton' | i18n, "Eaton", "Yes, I was in the Eaton fire evacuation zone", "EVACZONE") }}</li>
      <li>{{ radio.merge_field_data('topic-los-angeles-fires-recovery-evacuation-palisades' | i18n, "Palisades", "Yes, I was in the Palisades fire evacuation zone", "EVACZONE" ) }}</li>
      <li>{{ radio.merge_field_data('topic-los-angeles-fires-recovery-no-evacuation' | i18n, "No", "No", "EVACZONE" ) }}</li>
    </ul>
    {# - #}

    {# State employee option. #}
    {{ formVars.label_employees_question }}
    {{ checkbox.data( formVars.label_yes) }}
    {{ checkbox.data(formVars.label_no) }}
    {# - #}

    {# Hidden field. #}
    {{ action.data(audience_id) }}
    {# - #}

    {# Error messages. #}
    <engca-form-error id="apiError" hidden>
      <strong>{{ 'form-problem-message' | i18n }}</strong>
      {{ 'form-problem-message-2' | i18n }}
    </engca-form-error>
    <engca-form-error id="stateEmployeeError" hidden>
      <strong>{{ 'form-problem-state-employee-not-checked' | i18n }}</strong>
    </engca-form-error>
    {# - #}

    {# Submit. #}
    {{ submit.data('form-submit-button' | i18n) }}
    {# - #}

  </form>
  {# = #}

  {# SUCCESS. #}
  <engca-form-success aria-live="polite"></engca-form-success>
  <template id="form-success-msg">
    <p>
      <strong>{{ 'form-success-message' | i18n }}</strong>
    </p>
    <img width="75" height="75" src="/public/images/check-circle.svg" aria-hidden="true" alt=""/>
    <p>{{ 'form-success-message-2' | i18n }}</p>
  </template>
  {# = #}

</engca-join-convo-form>
{# - #}

{# Privacy. #}
<p>
  {{ 'form-privacy-message' | i18n | safe }}
  {{ 'form-privacy-message-1' | i18n | safe }}
</p>
{# - #}
