---
title: About the program
description: How this program will empower Californians to speak their mind and influence policy.
keywords:
  - engagement
  - issues
  - california
  - government
permalink: /about/
tags:
  - pages
locale: en
dir: ltr
---
{% extends "../_includes/base-about.njk" %}
