---
title: Los Angeles fires recovery
description: Engaged California is an online platform that makes it easier for Californians to have a voice in government. Engaged California's first topic is recovery from the Los Angeles wildfires.
keywords:
  - Los Angeles
  - fires
  - recovery
tags:
  - pages
---

<section id="los-angeles-fires-recovery">
  <div class="container banner-flex">
    <engca-banner-content>
      <h1>Los Angeles fires recovery</h1>
      <p class="status-pill">
        Agenda setting is happening now
      </p>
      <p>
        The State of California is bringing survivors and those impacted by the Los Angeles wildfires together to engage,
        interact, and share ideas. These insights will help shape recovery plans and collectively design wildfire recovery
        policy. Engaged California expands California's all-in response to the wildfires. This platform allows state and local
        officials to hear and understand the needs of the people who survived the devastating fires.
      </p>
      <p>
        <a data-appearance="button" data-theme="orange" href="#sign-up" class="m-t">Sign up to stay informed</a>
      </p>
    </engca-banner-content>
    <img src="/public/images/fires-about-bubbles.svg" aria-hidden="true" class="desktop-only" alt="">
  </div>
</section>
<section id="overview">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Overview</h2>
        <p>
          The Engaged California team will work with community members from greater Los Angeles. We will focus on people from
          Altadena and Pacific Palisades. Your journey with Engaged California begins with discussions to navigate difficult and
          complex topics. You will work through differences in opinion about how to recover from the fires. At the end of this
          road, we'll have identified the issues that are the most important to recovery.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="about-the-process">
          <h3>About the process</h3>
          <p>
            Engaged California is built upon deliberative democracy. It's unlike polling, voting, or town halls. Deliberative
            democracy empowers you to engage with your government in a new way. Engaged California is a space for you to have
            meaningful dialogue with others. This deepens understanding and can guide policy choices—before the choices are made.
          </p>
          <p>
            <a href="/about">Learn more about Engaged California</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-happens-in-each-phase">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>What happens in each phase</h2>
        <div class="phase-list">
          <img src="/public/images/phase-complete.svg" width="58" height="59" alt="Phase complete"/>
          <h3>Engagement opens</h3>
          <img src="/public/images/phase-complete-line.svg" width="6" height="100%" alt="" aria-hidden="true"/>
          <div>
            <p>
              We announced the Los Angeles fires recovery topic on February 24, 2025. You can sign up to get updates even when we're
              in a later phase.
            </p>
          </div>
          <img src="/public/images/phase-current.svg" width="58" height="59" alt="Phase in progress"/>
          <h3>Agenda setting</h3>
          <img src="/public/images/phase-pending-line.svg" width="6" height="100%" alt="" aria-hidden="true"/>
          <div>
            <p>
              People affected by the Eaton and Palisades fires will prioritize issues that are most important to them. This shapes the
              community deliberations.
            </p>
          </div>
          <img src="/public/images/phase-pending.svg" width="58" height="59" alt="Phase pending"/>
          <h3>Review</h3>
          <img src="/public/images/phase-pending-line.svg" width="6" height="100%" alt="" aria-hidden="true"/>
          <div>
            <p>
              You will take a break while we review the agenda-setting conversations. We will examine the items that surfaced from
              community input, analyze data, and gather insights. All of this information will help plan the deliberation phase.
            </p>
          </div>
          <img src="/public/images/phase-pending.svg" width="58" height="59" alt="Phase pending"/>
          <h3>Planning</h3>
          <img src="/public/images/phase-pending-line.svg" width="6" height="100%" alt="" aria-hidden="true"/>
          <div>
            <p>
              The Engaged California team will carefully set the stage for effective deliberation. We'll work with our partners to set
              up deliberations that lead to actionable and relevant next steps.
            </p>
            <p>
              We'll use the takeaways from agenda setting to find the right policymakers and officials to work with. We'll also
              carefully plan a deliberation opportunity for each of the wildfire recovery efforts we're focusing on in this
              engagement: Eaton and Palisades.
            </p>
            <p>
              This might take a while. The work requires a lot of detail and care to ensure we enable deliberations that lead to
              actionable and relevant next steps.
            </p>
          </div>
          <img src="/public/images/phase-pending.svg" width="58" height="59" alt="Phase pending"/>
          <h3>Deliberation</h3>
          <img src="/public/images/phase-pending-line.svg" width="6" height="100%" alt="" aria-hidden="true"/>
          <div>
            <p>
              You will discuss what the community needs most. You'll reach a consensus on how to ensure a speedy and equitable
              recovery. We don't expect this to be easy. Some topics might be triggering. But reaching consensus lets you inform what
              actions state or local officials take on fire recovery.
            </p>
          </div>
          <img src="/public/images/phase-pending.svg" width="58" height="59" alt="Phase pending"/>
          <h3>Reporting</h3>
          <span></span>
          <div>
            <p>
              We will review and analyze the outcomes of the deliberation phase. We'll work with government officials to find actions
              that respond to the deliberation. We will post a report of findings and actions on this website.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="phase-sidebar">
          <h3>General information</h3>
          <ul>
            <li>Participation is voluntary</li>
            <li>You will not be paid for your time</li>
            <li>You must be 18 years or older to participate</li>
            <li>We will protect and keep personal information private</li>
          </ul>
          <h3>Code of conduct</h3>
          <ul>
            <li>Everyone involved in the Engaged California process must follow a pledge of civility</li>
            <li>You should be open to listening and sharing</li>
            <li>Treat each other with respect on the platform and in any follow-up chats</li>
            <li>You must communicate with others respectfully</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>