/* About page styles */

#about-page-heading {
  color: var(--off-white);
  background: url("/public/images/about-header-cropped.svg") center right / 20vw no-repeat, var(--navy);
}

#about-page-heading img {
  inline-size: 16rem;
}

#about-page-heading .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#about-page-heading h1 {
  margin: 0;
}

section.about-page-shaded {
  background-color: #F6F7FA;
}

.about-section-flex {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

engca-section-content {
  max-inline-size: 40rem;
}

engca-icon-heading {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}

@media (min-width: 1200px) {
  #about-page-heading {
    background-image: unset;
  }

  .about-section-flex {
    flex-direction: row;
    max-width: 1176px;
    align-items: start;
    justify-content: space-between;
  }

  engca-icon-heading {
    flex-direction: column-reverse;
    align-items: start;
  }

}

engca-icon-heading h2 {
  margin-block-end: 0;
  color: #1E1E1E;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 2.125rem */
  letter-spacing: -0.0425rem;
}

engca-icon-heading img {
  font-size: 3rem;
  inline-size: 1em;
  aspect-ratio: 1 / 1;
  position: relative;
  top: 0.0625em;

}

@media (min-width: 768px) {
  engca-icon-heading img {
    inline-size: unset;
  }
}

#sign-up {
  border-bottom: 1px solid var(--blue);
}