/* GENERIC CLASSES */

div.center-body {
   text-align: center;
   max-width: 772px;
}

div.center-body-lg {
  text-align: center;
  max-width: 1000px;
}

div.center-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.test-margins {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .dataviz {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

.test-dataviz {
   width: 100%;
   height: 200px;
   background-color: #EEE;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.italic {
  font-style: italic;
}

.style-h1 {
  font-weight: 900;
  font-size: 47px;
  @media (max-width: 720px) {
    font-size: 37px;
  }
}
.style-h2 {
  font-weight: 900;
  font-size: 37px;
  @media (max-width: 720px) {
    font-size: 27px;
  }
}
.style-h3 {
  font-weight: 700;
  font-size: 30px;
  @media (max-width: 720px) {
    font-size: 23px;
  }
}
.style-body-text {
  font-weight: 400;
  font-size: 23px;
  @media (max-width: 720px) {
    font-size: 18px;
  }
}
.style-strong-body-text {
  font-weight: 600;
  font-size: 23px;
  @media (max-width: 720px) {
    font-size: 18px;
  }
}
.style-strong-small-body-text {
  font-weight: 600;
  font-size: 18px;
}
.style-small-body-text {
  font-weight: 400;
  font-size: 18px;
}
.style-callout-text {
  font-weight: 600;
  font-size: 20px;
}
.upper-divider {
   border-top: 2px solid #EEE;
}
.lower-divider {
   border-bottom: 2px solid #EEE;
}

/* 
 * NARRATIVE SECTION
 */
section#findings-narrative-steps {
  padding-top: 0;
}

div.findings-narrative-step {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: center;
  max-width: 772px;

  /* height: 500px; */
}

div.narrative-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 140px);
  overflow: hidden;
  /* border: 1px solid orange; */

  display: flex;
  align-items: center;
  justify-content: center;

}


canvas.findings-narrative-canvas
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

img.findings-narrative-image
 {
  position: absolute;
  top: 50%;
  left: -6%;
  transform: translateY(-50%);
  width: 112%;
  height: auto;
  z-index: 0;
  opacity: 0.8;
}


/*
 * TOP OPTIONS SECTION
 */

section#findings-top-options {
  padding-bottom: 0;
  /* background-color: #FFF4EB; */
}

.findings-top-options-tally-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  @media (max-width: 720px) {
    gap: 1rem;
  }
}

.findings-top-options-tally-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  padding: 1rem 0.5rem;
}

.findings-top-options-options-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: center; */
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  padding-top: 2rem;
  @media (max-width: 1200px) {
      row-gap: inherit;
      padding-top: 0;
      margin-top: 2rem;
      gap: 3rem;
  }
}

.findings-top-options-option-box {
  flex: 1 1 200px;
  box-sizing: border-box;

  position: relative;

  background: #FFFFFF;
  text-wrap: balance;
  margin: 0;
  text-align: center;
  max-width: 220px; 

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  @media (max-width: 720px) {
    font-size: 18px;
    line-height: 23px;
  }
  padding: 1rem 0.5rem;
  background-color: #F6F7FA;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 12px solid #D9D9D9;
}

.findings-top-options-option-box:not(.active):hover {
  cursor: pointer;
  background-color: #EDEEF2
}

.findings-top-options-option-box.active {
  background-color: white;
  border: 2px solid #5489A3;
  border-bottom: 12px solid #5489A3;
}
.findings-top-options-option-box.active img.findings-option-icon.png-icon 
{
  filter: drop-shadow(0px 3.67px 3.67px rgba(0,0,0,0.18));
}

.findings-top-options-option-box:not(.active) img.findings-option-icon.png-icon 
{
  filter: saturate(0%) brightness(0.5) invert(100%) contrast(200%) drop-shadow(0px 3.67px 3.67px rgba(0,0,0,0.18));
}



.option-total {
  font-weight: 700;
  font-size: 48px;
  color: #2d3a4a;
  @media (max-width: 720px) {
    font-size: 36px;
  }
}

.option-label {
  text-align: center;
}

img.findings-option-icon.png-icon {
  width: 60px;
}

section#findings-top-discussions {
  padding-top: 0;
  /* background-color: #FFF4EB; */
}

.findings-top-discussion-container:not(.active) {
  display: none;
}


/* 
 * CONSENSUS SECTION
 */
section#findings-consensus {
  background-color: #F6F7FA;
}

 div#findings-consensus-sentiment-chart-dataviz-container {
  width: 100%;       /* Take up the available width */
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

canvas#findings-consensus-sentiment-chart-dataviz-canvas, canvas#findings-consensus-progressbar-canvas {
  width: 100%;       /* Scale to container's width */
  height: auto;      /* Keep aspect ratio */
  display: block;    /* Remove inline spacing */
}

div#findings-consensus-progressbar-container {
  width: 100%;       /* Take up the available width */
  margin-top: 1rem;
  margin-bottom: 2rem;
}
canvas#findings-consensus-progressbar-canvas {
  width: 100%;       /* Scale to container's width */
  height: auto;      /* Keep aspect ratio */
  display: block;    /* Remove inline spacing */
}

.data-viz-1-labels {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.data-viz-1-label:first-child {
  text-align: left;
  justify-content: flex-start;
}

.data-viz-1-label:last-child {
  text-align: right;
  justify-content: flex-end;
}

.data-viz-1-label {
  flex: 1;
  text-align: center;
}

.findings-consensus-outro {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

div#explore-the-comments {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

div#findings-deliberation-comments-container {
  margin-top: 2rem;
}


/* 
 * TOP DISCUSSIONS SECTION
 */

.deliberations-learn-link {
  margin-bottom: 1rem !important;
}

.findings-top-options-subtitle .style-h2 {
  margin-bottom: 1rem;
}

div#findings-top-discussions {
  /* background-color: #F6F7FA; */
  border: 2px solid #5489A3;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  /* padding: 1rem; */
}

div#findings-top-discussions div.topic-section {
  padding: 1rem;
}

.findings-top-discussions-picker-container {
  background-color: #E6F0F5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin: 1rem 0 3rem 0;
}
.findings-top-discussions-picker-instructions {
  padding-left: 2rem;
}

.findings-top-discussions-picker-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.findings-top-discussions-picker-box {
  min-width: 120px;
  height: 44px;
  background: #f7f7f7;
  border-radius: 8.37px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #5a6a7a;
}

.findings-discussions-topic-title-container {
  margin-top: 0.5rem;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  min-height: 50px;
  align-items: center;
  margin-top:1rem; */
}

.findings-discussions-topic-title.style-h3 h3 {
  /* height: 50px; */
  /* vertical-align: middle; */
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.findings-discussions-topic-title-container > :nth-child(1),
.findings-discussions-topic-title-container > :nth-child(2) {
  margin-right: 1.5rem;
  /* Left-aligned by default in flex row */
}

.findings-discussions-topic-title-container > :last-child {
  margin-left: auto;
  /* This pushes the last div to the far right */
}

.findings-top-discussions-picker-box.active {
  background: #1C2745;
  color: white;

}

.findings-top-discussions-tally-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.findings-top-discussions-tally-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  /* padding: 1rem 0.5rem; */
}

.findings-discussions-topic-description {
  margin-bottom: 2rem;
  /* font-style: italic; */
}

div#findings-top-topics-dataviz-container {
  width: 100%;       /* Take up the available width */
  margin-top: 1rem;
}

canvas#findings-top-topics-dataviz-canvas {
  width: 100%;       /* Scale to container's width */
  height: auto;      /* Keep aspect ratio */
  display: block;    /* Remove inline spacing */
}


.data-viz-2-labels {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.data-viz-2-label:first-child {
  text-align: left;
  justify-content: flex-start;
}

.data-viz-2-label:last-child {
  text-align: right;
  justify-content: flex-end;
}

.data-viz-2-label {
  flex: 1;
  text-align: center;
}

.topic-comments-scroller {
  width: 100%;
  height: 400px;
  background-color: #EEE;
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex; /* TEMP */
  align-items: center; /* TEMP */
  justify-content: center; /* TEMP */

}

div.topics-alignment-switcher-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

#topics-deliberation-comments-container {
  margin-top:2rem;
  padding-top: 1rem;
  border-top: 1px solid #BCBBC1;
}

#topics-deliberation-comments-container.norule {
  border-top: none;
}

#topics-deliberation-comments-container.collapsed .expandible {
  display: none;
}
div.deliberation-comment-expander-label {
  font-weight: 500;
  font-size: 16px;
  color: #0D5D90;
  padding-right: 32px;
  background: url("/public/images/arrow-down.svg") no-repeat right center;
  width: fit-content;
}

.deliberation-comment-expander-button.open div.deliberation-comment-expander-label {
    background: url("/public/images/arrow-down.svg") no-repeat right center;
    cursor: pointer;
}
.deliberation-comment-expander-button.close div.deliberation-comment-expander-label {
  background: url("/public/images/arrow-up.svg") no-repeat right center;
  cursor: pointer;
}
.download-buton-div {
  margin-top: 2rem;
  margin-bottom: 1rem;
}


/*
 * ALIGNMENT PICKER SECTION
 */
 button.deliberation-comment-expander-button {
  padding-left: 1rem;
  padding-bottom: 1rem;


}


.topics-alignment-switcher-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #F6F7FA;
  border: 1px solid #BCBBC1;
  color: #5a6a7a;
  font-size: 1rem;
}
.topics-alignment-switcher-item.selected {
  background-color: #1C2745;
  color: white;
}
.topics-alignment-switcher-item:not(.selected):hover {
  background-color: white;
}

/*
 * DELIBERATION COMMENTS
 */

#topics-deliberation-comments-container.collapsed .deliberation-comment-expander-button.close {
  display: none;
}

#topics-deliberation-comments-container:not(.collapsed) .deliberation-comment-expander-button.open {
  display: none;
}


div.deliberation-comment-item {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    padding: 1rem;
}
div.deliberation-comment-item:nth-child(odd) {
  background-color: #F6F7FA;
}

.deliberation-comment-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}
.deliberation-comment-item .comment-fill {
  padding-left: 1rem;
}
.deliberation-comment-item .comment-fill {
  border-left: 4px solid #777777;
}

.deliberation-comment-item.vote-1 .comment-fill {
  border-left-color: hsl(27, 60%, 61%);
}

.deliberation-comment-item.vote-2 .comment-fill {
  border-left-color: hsl(27, 40%, 69%);
}

.deliberation-comment-item.vote-3 .comment-fill {
  border-left-color: hsl(27, 20%, 77%);
}

.deliberation-comment-item.vote-4 .comment-fill {
  border-left-color: hsl(116, 0%, 85%);
}

.deliberation-comment-item.vote-5 .comment-fill {
  border-left-color: hsl(205, 20%, 78%); 
}
.deliberation-comment-item.vote-6 .comment-fill {
  border-left-color: hsl(205, 40%, 71%); 
}
.deliberation-comment-item.vote-7 .comment-fill {
  border-left-color: hsl(205, 60%, 64%); 
}

section#findings-alignment-section {
  background-color: #FFF4EB;
  margin-top: 2rem;
}

/*
 * RINGCHART SECTION
 */

 div#ringchart-canvas-container {
  width: 100%;       /* Take up the available width */
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

canvas#ring chart-canvas {
  width: 100%;       /* Scale to container's width */
  height: auto;      /* Keep aspect ratio */
  display: block;    /* Remove inline spacing */
}


 .ringchart-legend {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
}

.test-ringchart {
  width: 100%;
  height: 400px;
  background-color: #EEE;
}

.ring-chart-followup-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* SIGN UP SECTION */

section#findings-signup-section {
  background-color: #1C2745;
  color: #FFF4EB;
  h2 {
    color: #FFF4EB;
  }
}


/* PARTNERS SECTION */

section#partners.deliberation-partners {
  background-color: #F6F7FA;
}


