section#plots-overview {
    background: #FFF4EB;
    overflow-y: hidden;
    position: relative;
}
section#plots-overview .container {
    position: relative;
}

section#findings-overview {
    background: #1C2745;
    overflow-y: hidden;
    position: relative;
}

div.findings-balloons-container.mobile-only {
    margin-bottom:3rem;
}

section#download-the-data {
    background: #1C2745;
    color: #FFF4EB;
    overflow-y: hidden;
    position: relative;
}

section#download-the-data h2 {
    color: #FFF4EB;

}

section p {
    margin-bottom: 1.5rem;
}

.findings-overview-container {
    position: relative;
}

section#findings-overview, section#findings-overview h2 {
    color: #FFF4EB;
}
section#findings-overview p {
    max-width: 80%;
}

section#how-we-built {
    padding-top: 0;
}

.findings-adornment {
    position: absolute;
    /* inline-size: min(220px, 30vw); */
    right: 0;
    top: 0px;
}

section#findings-whats-next {
    position: relative;
}
.findings-whats-next-adornment {
    position: absolute;
    right: 0;
    top: 0;
}

.data-insights-adornment {
    position: absolute;
    /* inline-size: min(220px, 30vw); */
    right: 0;
    top: 0;
}

/* section#download-the-data .container {
    position: relative;
} */

.download-the-data-adornment {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 767px) {
    .findings-adornment {
        width: 170px;
    }
}

.desktop-only {
    @media (max-width: 992px) {
        display: none;
    }
}

.mobile-only {
    @media (min-width: 992px) {
        display: none;
    }
}

div.iconic-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media (max-width: 992px) {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex: 1 1 100%;
        min-width: 0; /* Prevents flex items from overflowing */
    }
    
}
div.iconic-datum {
    margin-bottom: 2rem;
}
div.iconic-number {
    font-weight: 900;
    font-size: 47px;
    letter-spacing: -5%;
    line-height: 50.9px;
    letter-spacing: -5%;
    text-align: center;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}



div.iconic-caption {
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 204px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    div.iconic-number {
        font-size: 24px; /* 47px * 0.6 */
        line-height: 30.54px; /* 50.9px * 0.6 */
    }
    div.iconic-caption {
        font-size: 14px;
    }
    div.iconic-datum img {
        width: 40px;
    }
    div.iconic-datum {
        width: 3%;
    }
}

section#findings-over700, section#findings-over700 p {
    background: #5489A3;
    font-weight: 700;
    font-size: 37px;
    line-height: 136%;
    letter-spacing: -2%;
    text-align: center;
    color: #FFF4EB;
}
div.findings-what-we-heard {
    padding-top: 2rem;
}

section#findings-how-we-listened {
    padding-bottom: 0;
}

section#findings-topics-people-rated {
    padding-top: 0;
}
section#data-definitions {
    padding-top: 0;
}
section#findings-issues {
    background-color: #FFF4EB;
}

div.findings-agreements-item {
    padding: 2rem;
    background-color: #D7E7EF;
    margin-bottom: 2rem;
}


div.findings-quote {
    font-weight: 500;
    font-style: italic;
    font-size: 23px;
    line-height: 39px;
    padding-left: 3.5rem;
    background-image: url('/public/images/little-dialog-balloon.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 45px 46px;
}
/* div.findings-quote-container-1 {
    background: #E79450;
    color: #1C2745;
}
div.findings-quote-container-2 {
    background: #5489A3;
    color: #FFF4EB;
} */
/* img.findings-quote-balloon-tip-1 {
    position: absolute;
    bottom: -40px;
    left: calc(25% - 12.5%);
    width: 25%;
}
img.findings-quote-balloon-tip-2 {
    position: absolute;
    bottom: -40px;
    left: calc(75% - 12.5%);
    width: 25%;
} */

div.findings-key-tensions-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    margin: 3rem;
}

div.findings-key-tensions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    row-gap: 3rem;
    justify-content: space-between;
    padding-top: 2rem;
    @media (max-width: 767px) {
        row-gap: inherit;
        padding-top: 0;
    }
}

div.findings-key-tension-block  {
    flex: 1 1 366px;
    margin: 5rem 5rem 0 5rem;
    box-sizing: border-box;

    position: relative;

    background: #FFFFFF;
    border: 2px solid #5489A3;
    border-radius: 10px;
    padding: 4.5rem 0rem 1rem 0rem;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    line-height: 27px;
    max-width: 366px;
}

div.findings-key-tension-read-more {
    font-weight: 500;
    font-size: 16px;
    color: #0D5D90;
    /* padding-top: 1rem; */
}

div.findings-key-tension-read-more:not(.expanded) span {
    padding-right: 24px;
    background: url("/public/images/arrow-blue-down.svg") no-repeat right center;
}
div.findings-key-tension-read-more.expanded span {
    padding-right: 24px;
    background: url("/public/images/arrow-blue-up.svg") no-repeat right center;
}

div.findings-key-tension-heading p {
    border-bottom: 1px solid #BCBBC1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    @media (min-width: 769px) {
        min-height: 12rem;
    }
}

div.findings-key-tension-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

div.findings-key-tension-heading.long {
    min-height: 13.5rem;
}


@media (max-width: 767px) {
    div.findings-key-tension-block  {
        margin-bottom: 2rem;
        margin-top: 3rem;
        flex: 1 1 85%;
        max-width: 100%;
    }
}

div.findings-key-tension-expand-block {
    padding: 0px;
    display: none;
    cursor: pointer;
}

div.findings-key-tension-expand-block.expanded {
    padding: 0px;
    display: block;
}


div.findings-expand-header {
    padding: 10px;
    color: #444444;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0%;
}

div.findings-expand-quote {
    padding: 10px;
    color: #444444;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    line-height: 125%;
    letter-spacing: -2%;
}
div.findings-key-tension-expand-block:nth-child(odd) {
    background: #F6F7FA;
}
.findings-key-tension-expand-block > div:nth-child(even) {
    background: #FFFFFF;
}

div.findings-show-all-button-label {
    padding-right: 32px;
    background: url("/public/images/arrow-down.svg") no-repeat right center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #0D5D90;
}

div.findings-show-all-button-label.open {
    background: url("/public/images/arrow-up.svg") no-repeat right center;
    cursor: pointer;
}



img.findings-icon {
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
}

section#findings-whats-next {
    background: #1C2745;
    color: #FFF4EB;
    border-bottom: 1px solid #5489A3;
}

section#findings-whats-next h2 {
    color: #FFF4EB;
}

.findings-button-container {
    margin-top:2rem;
}

section#findings-issues .findings-button-container
{
    text-align: left;
}

div.findings-barchart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
}

div.findings-barchart-container.collapsed {
    position: relative;
    /* max-height: 400px; */
    /* overflow: hidden; */
}

div.findings-barchart-container.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, transparent, #FFFFFF);
    pointer-events: none;
}

div.findings-barchart-item {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

div.findings-barchart-item:not(.visible) {
    display: none;
}

div.findings-barchart-item-approval {
    position: absolute;
    top: -20px;

    font-weight: 700;
    font-size: 25px;
    line-height: 33.47px;
    letter-spacing: 0%;
    text-align: right;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    color: #5489A3;
    
}
div.findings-barchart-item-caption {
    font-weight: 700;
    font-size: 19px;
}

div.findings-indent-container {
    max-width: 750px;
    margin: 0 auto;
}

div.insights-back-button-container {
    padding-bottom: 2rem;
}

.quote-card {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;
    font-size: 1rem;
  }
  .plot-row {
    position: relative;
  }
  .quote-card {
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 1000;
  }
  .responsive-svg-container svg {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
  }
  .plot-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Noto Sans Display" !important;
    text-align: left;
  }
  div.plot-legend {
    margin-top: 20px;
  }

  @media (orientation: landscape) {
    .responsive-svg-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .plot-title {
      width: 100%;
    }
    
    .plot-plot {
      width: 65%;
    }
    
    div.plot-legend {
      width: 35%;
      margin-top: 0;
      padding-left: 10px;
    }
  }

  a.download-navigate-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
  }
