#sign-up {
  color: var(--white);
  background: var(--navy);
  background-size: 33%;
  overflow: hidden;
  position: relative;
}

.signup-cluster-1,
.signup-cluster-2 {
  position: absolute;
  inline-size: 30vw;
}

.signup-cluster-1 {
  bottom: -10vw;
  left: -12vw;
}

.signup-cluster-2 {
  top: -10vw;
  right: -12vw;
}

@media screen and (min-width: 1120px) {
  section#sign-up {
    background-size: 30%;
  }
}

.section-standout,
.section-standout a:not(.btn),
section#sign-up,
section#sign-up h2 {
  color: var(--off-white);
}

.form-flex {
  max-width: 40rem;
}

.form-flex,
engca-join-convo-form > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1.8rem;
}

/* Make the email field full-width. */
engca-join-convo-form,
engca-form-field {
  width: 100%;
}

.form-flex > * {
  margin-block: 0;
}

.form-flex > p:last-child {
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 185.714% */
}

.form-flex a {
  color: #6fd0fb;
}

engca-form-error {
  background: #f1464e;
  color: #fff;
  border-radius: 3px;
  margin-block: 0.5em;
  padding: 0.5em;
  font-size: 0.875em;
}

input[type="email"][aria-invalid="true"] {
  box-shadow: inset 0 0 3px rgb(241 70 78 / 0.5);
  color: #f1464e;
  border-color: currentColor;
}

input[type="email"][aria-invalid="true"]:focus {
  outline-color: currentColor !important;
}

engca-form-success:not(:empty) {
  text-align: center;
  background-color: var(--blue);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

engca-form-success > * {
  margin: 0;
}

engca-form-success > p {
  font-size: 1.125rem;
  line-height: 2rem;
}

.form-check-input[type="checkbox"] {
  border-radius: 0em;
}

.form-radio-input[type="radio"] {
  border-radius: 0em;
}

.form-check-input {
  background-color: transparent;
  border-width: 2px;
  margin-right: 21px;
}

.form-radio-input {
  background-color: transparent;
  border-width: 2px;
  margin: 0 8px;
  padding: 0;
  border: 0px;
  width: 1rem;
  height: 1rem;
  margin: 12px 8px 0 8px;
  padding: 0;
}

.form-checkbox-label {
  color: var(--Dark-Palette-Off-White, #fff4eb);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 216.667% */
}

.form-radio-label {
  color: var(--Dark-Palette-Off-White, #fff4eb);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 216.667% */
}

.form-check-input {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid var(--Dark-Palette-Off-White, #fff4eb);
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
}

ul.form-checkbox-list li {
  list-style: none;
  padding: 0;
  display: flex;
}

ul.form-radio-list li {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  padding: 0;
}

ul.form-radio-list {
  margin: 0;
  padding: 0;
}

.form-title {
  color: var(--Dark-Palette-Off-White, #fff4eb);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 169.565% */
}

button.button-reset {
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0 2px;
  font-weight: initial;
  font-size: initial;
  line-height: 1.5;
}
