.form-flex {
  max-width: 40rem;
}

.form-flex, engca-join-convo-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.8rem;
}

/* Make the email field full-width. */
engca-join-convo-form, engca-form-field {
  width: 100%;
}

.form-flex > * {
  margin-block: 0;
}

.form-flex > p:last-child {
  text-align: center;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 185.714% */
}

.form-flex a {
  color: #6FD0FB
}

engca-form-error {
  background: #F1464E;
  color: #fff;
  border-radius: 3px;
  margin-block: 0.5em;
  padding: 0.5em;
  font-size: 0.875em;
}

input[type="email"][aria-invalid="true"] {
  box-shadow: inset 0 0 3px rgb(241 70 78 / 0.5);
  color: #F1464E;
  border-color: currentColor;
}

input[type="email"][aria-invalid="true"]:focus {
  outline-color: currentColor !important;
}