#sign-up {
  color: var(--white);
  background: var(--navy);
  background-size: 33%;
  overflow: hidden;
  position: relative;
}

.signup-cluster-1,
.signup-cluster-2 {
  position: absolute;
  inline-size: 30vw;
}

.signup-cluster-1 {
  bottom: -10vw;
  left: -12vw;
}

.signup-cluster-2 {
  top: -10vw;
  right: -12vw;
}

@media screen and (min-width: 1120px) {
  section#sign-up {
    background-size: 30%;
  }
}

.section-standout,
.section-standout a:not(.btn),
section#sign-up,
section#sign-up h2 {
  color: var(--off-white);
}

.form-flex {
  max-width: 40rem;
}

.form-flex, engca-join-convo-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.8rem;
}

/* Make the email field full-width. */
engca-join-convo-form, engca-form-field {
  width: 100%;
}

.form-flex > * {
  margin-block: 0;
}

.form-flex > p:last-child {
  text-align: center;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 185.714% */
}

.form-flex a {
  color: #6FD0FB
}

engca-form-error {
  background: #F1464E;
  color: #fff;
  border-radius: 3px;
  margin-block: 0.5em;
  padding: 0.5em;
  font-size: 0.875em;
}

input[type="email"][aria-invalid="true"] {
  box-shadow: inset 0 0 3px rgb(241 70 78 / 0.5);
  color: #F1464E;
  border-color: currentColor;
}

input[type="email"][aria-invalid="true"]:focus {
  outline-color: currentColor !important;
}

engca-form-success:not(:empty) {
  text-align: center;
  background-color: var(--blue);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

engca-form-success > * {
  margin: 0;
}

engca-form-success > p {
  font-size: 1.125rem;
  line-height: 2rem;
}

.engaged-california-signup-form .mc-field-group.input-group ul li input[type="checkbox"],
.form-check-input[type=checkbox] {
   border-radius: 0em; 
}

.engaged-california-signup-form .mc-field-group.input-group ul li input[type="checkbox"],
.form-check-input {
  background-color: transparent;
  border-width: 2px;
  margin-right: 21px;
}

.engaged-california-signup-form .mc-field-group.input-group ul li label,
.form-checkbox-label {
  color: var(--Dark-Palette-Off-White, #FFF4EB);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 216.667% */
}

.engaged-california-signup-form .mc-field-group.input-group ul li input[type="checkbox"],  
.form-check-input {
  top: 0;  
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid var(--Dark-Palette-Off-White, #FFF4EB);
  flex-shrink: 0;
  aspect-ratio: 1/1;
}


.engaged-california-signup-form #mc_embed_signup {
  width: 600px
}

@media (max-width: 575.98px) {
  .engaged-california-signup-form #mc_embed_signup {
    width: 100%;
  }
}

.engaged-california-signup-form .mc-field-group.input-group ul li,
ul.form-checkbox-list li {
  list-style: none;
  padding: 0;
}

.engaged-california-signup-form .mc-field-group.input-group strong,
.form-title {
  color: var(--Dark-Palette-Off-White, #FFF4EB);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 169.565% */
}


.engaged-california-signup-form #mc_embed_signup {
  background-color: transparent;
}

.engaged-california-signup-form #mc_embed_signup_scroll h2 {
  display: none;
}


/* .engaged-california-signup-form label[for="mce-EMAIL"] {
  text-transform: lowercase
} */

/* .engaged-california-signup-form label[for="mce-EMAIL"]::first-letter {
  text-transform: uppercase 
} */


.engaged-california-signup-form .indicates-required {
  display: none;
}


.engaged-california-signup-form input[type="submit"]#mc-embedded-subscribe {
  color: var(--navy);
  background: var(--orange);
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none !important;
  border-radius: .5rem;
  height: auto;
}


.engaged-california-signup-form input[type="email"]#mce-EMAIL {
  font-family: Noto Sans, system-ui, -apple-system, Roboto, Helvetica Neue, sans-serif !important;
  border-radius: 0;
  border-color: var(--gray-200, #d4d4d7);
  font-size: 1.375rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  margin: 0;
}
