/* 
 * Homepage styles
 */

#hero {
  color: var(--off-white);
  background: url("/public/images/hero-bubbles-cropped.svg") bottom right / 30vw no-repeat, var(--navy);
}

#about {
  color: #444;
  background: url("/public/images/about-bubbles-cropped.svg") bottom right / 25vw no-repeat, var(--off-white);
}

@media (min-width: 1200px) {
  #hero, #about {
    background-image: unset;
  }
}

/* Using a class here to play nicely with State Template .container. */
.banner-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

engca-banner-content {
  min-width: 300px;
  max-width: 44.875rem;
}

/* Adjust margin for any content before the button. */
engca-banner-content:has(a[data-appearance="button"]) > :not(a[data-appearance="button"]):last-of-type {
  margin-block-end: 1.8rem;
}

section#how-it-works h2 {
  margin-block-end: 3.6rem;
}

section#partners {
  color: #444;
  background: var(--off-white);
}

section#partners p {
  margin-block-end: 5.4rem;
}

engca-partner-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6.7rem;
  row-gap: 3.6rem;
  align-items: center;
}

engca-partner-flex > :is(img, span) {
  height: 4rem;
}

engca-partner-flex > img {
  mix-blend-mode: darken;
}

engca-partner-flex > span {
  font-size: 2rem;
  color: #514943;
}

@media screen and (max-width: 768px) {
  engca-partner-flex {
    column-gap: 3.13rem;
    row-gap: 2.5rem;
  }

  engca-partner-flex > :is(img, span) {
    max-width: 100%;
    max-height: 4rem;
    height: auto;
  }
}


section#our-first-engagement {
  padding: 4rem 1rem;
  background: var(--blue);
}

div.first-eng-content {
  background: white;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.875rem;
  text-align: center;
  gap: 1.75rem;
}

div.first-eng-content > * {
  max-width: 65ch;
  margin: 0;
}

aside.site-footer {
  background-color: var(--navy);
}

aside.site-footer .brd-highlight {
  border-bottom-color: var(--orange);
}

footer .cagov-logo svg {
  background-color: #FAFAFA;
  fill: var(--navy);
  height: 1.7rem;
}

/*
 * How it works image
 */

.hiw {
  --grid-gap: 4rem;
  text-wrap: balance;
  
  /* CSS reset  */
  list-style: none;
  padding: 0;
  margin: 0;
 
  
  /* Nicer type rendering for letters on dark backgrounds */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic list item layout */

.hiw li {
  background: var(--navy);
  color: var(--off-white);
  font-weight: 700;
  letter-spacing: -0.02em;
  border-radius: 4rem;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 4rem;
  line-height: 1.275;
}

/*  Icons */

.hiw img {
  position: absolute;
  inline-size: 3em;
  aspect-ratio: 1 / 1;
  top: -1.5em;
  left: 0;
  rotate: -5deg;
}

.hiw li:nth-child(even) svg {
  rotate: 5deg;
}

/*  CSS arrows */

.hiw-arrow {
   --radius: 3rem;
   --arrow-stroke-width: 0.25rem;
  
   --arrow-spacing-on-mobile: 1rem;
   display: block;
   position: absolute;
   border-bottom: var(--arrow-stroke-width) solid var(--blue);
   rotate: 90deg;
   transform-origin: 0 50%;
   top: calc(100% + var(--arrow-spacing-on-mobile));
   left: 50%;
   width: calc( var(--grid-gap) - var(--arrow-spacing-on-mobile) * 2 - var(--arrow-stroke-width));
   height: var(--arrow-stroke-width);
   border-radius: 3px;
}

/*  Adding the arrowhead */
.hiw-arrow::before,
.hiw-arrow::after {
  position: absolute;
  content: "";
  width: var(--arrow-stroke-width);
  height: 1.5rem;
  border-radius: 3px;
  right: calc(var(--arrow-stroke-width) * -2);
  display: block;
  background: var(--blue);
  translate: calc(var(--arrow-stroke-width) * -1) calc(var(--arrow-stroke-width) / 2);
}

.hiw-arrow::before {
  bottom: 0;
  transform-origin: 100% 100%;
  rotate: -45deg;
}

.hiw-arrow::after {
  top: 100%;
  transform-origin: 100% 0%;
  rotate: 45deg;
}

/* Two-column grid layout for mid-sized screens */

@media screen and (min-width: 576px) {
  /*  Reset the margin between list items,
      since the grid is now handling spacing */
  .hiw li {
    margin-bottom: 0;
  }
  
  /* Basic list items  */
  
  .hiw {
    --grid-gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--grid-gap);
  }

  .hiw.ge-hiw {
    row-gap: 2px;
    font-size: 1rem;
  }

  .hiw.ge-hiw span.hiw-arrow.hiw-arrow-1, .hiw.ge-hiw span.hiw-arrow.hiw-arrow-3 {
    top: calc(100% + var(--grid-gap) - 24px);
  }
  .hiw.ge-hiw span.hiw-arrow.hiw-arrow-2 {
    transform: scaleY(-1) translateY(-24px);
  }

  .hiw img {
    top: -0.75em;
    left: -0.75em;
  }

  .hiw-step-2 {
    grid-row: 2;
    grid-column: 2
  }

  .hiw-step-3 {
    grid-row: 3;
  }

  .hiw-step-4 {
    grid-row: 4;
    grid-column: 2;
  }
  
  

  /*  Add a curved edge to the arrow
      (This is just a rectangle with borders on 2 sides)
  */
  
  .hiw-arrow {
     border-left: var(--arrow-stroke-width) solid var(--blue);
     border-bottom-left-radius: var(--radius);
     top: calc(100% + var(--grid-gap));
     left: 50%;
     width: 50%;
     height: 50%;
     rotate: unset;

  }
  
  /*  Flip the arrow connecting steps 2 and 3 */
  .hiw-step-2 .hiw-arrow {
    transform: scaleX(-1);
    transform-origin: 0 0;
  }
}

/* Multi-column grid layout for larger screens */

@media screen and (min-width: 992px) {
  .hiw {
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(2, 1fr);
  }
  
  .hiw-step-2 {
    grid-column-start: 2;
    grid-row: 2;
  }

  .hiw-step-3 {
    grid-column-start: 3;
    grid-row: 1;
  }

  .hiw-step-4 {
    grid-column-start: 4;
    grid-row: 2;
  }
  
  /* Reposition and flip the arrow between steps 2 and 3  */
  
  .hiw-step-2 .hiw-arrow {
    top: calc(var(--grid-gap) * -1);
    transform: scaleY(-1);
    transform-origin: 0 0;
  }
}
