:root {
  --white: #FFFFFF;
  --blue: #5489A3;
  --orange: #E79450;
  --navy: #1C2745;
  --off-white: #FFF4EB;
  --mobile-drawer: var(--navy);
  --mobile-drawer-active: var(--blue);
}

html {
  scroll-padding-top: 8.5rem;
}

/* Swap global font on all elements. State Template stuff. */
:not(h1, h2, .display-text) {
  font-family:
    "Noto Sans Display", 
    "Noto Sans", 
    system-ui, 
    -apple-system, 
    "Roboto",
		"Helvetica Neue", 
    sans-serif !important;
}



/* Custom element tags without JS shall default to the following. */
:where(:not(:defined)){
  display: block;
}

@media (max-width: 1200px) {
  .desktop-only {
    display: none;
  }
}


/* 
 * Tip-top statewide header. 
 */

.utility-header {
  background-color: var(--navy);
  color: var(--white);
}

.utility-header svg path.cls-1 {
  fill: var(--white);
}

.utility-header .flex-row { /* needed for the language switcher */
  display: block;

  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

[dir="rtl"] .header-organization-banner {
  padding-inline-start: 1.5rem;
}

/*
 * Sitewide styles 
 */

a {
  color: #1F3B83;
}

a[data-appearance="button"], button, input[type="submit"] {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  text-decoration: none !important;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.return-top {
  border-radius: 0.5rem 0 0 0.5rem;
}

/* data-theme="orange" */
:is(a[data-appearance="button"], button, input[type="submit"])[data-theme="orange"] {
  color: var(--navy);
  background: var(--orange);
  border: none;
}

:is(a[data-appearance="button"], button, input[type="submit"])[data-theme="orange"]:focus,
:is(a[data-appearance="button"], button, input[type="submit"])[data-theme="orange"]:hover {
  background: #E4863A;
}

:is(a[data-appearance="button"], button, input[type="submit"])[data-theme="orange"]:active {
  background: #E17923;
}

/* data-theme="off-white" */
:is(a[data-appearance="button"], button, input[type="submit"])[data-theme="off-white"] {
  color: var(--navy);
  border: 2px solid var(--navy);
}

h1, h2, .display-text {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 900;
  letter-spacing: -0.015em;
  line-height: 120%;
}

h1 {
  font-size: 2.027rem;
}

h2 {
  font-size: 1.602rem;
}

b, strong {
  font-weight: 600;
}

section p, section li {
  line-height: 1.7;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.9375rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  section p, section li {
    font-size: 1.4375rem;
  }
}


section {
  padding-block: 2.4rem;
}

section.hero, section.action-hero {
  padding-block: 4.8rem;
}


section h1 {
  margin-block: 0 1.8rem;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

section h2 {
  margin-block: 0 1.8rem;
  color: #0F152F;
}
.cagov-language-switcher {
  padding-bottom: 0.5rem;
}
/* language switcher - copied from abortion.ca.gov */
.cagov-language-switcher ul {
  align-items: start;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  @media screen and (min-width: 992px) {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: -5px;
  }

  li {
    list-style: none;
    padding: 0;

    @media screen and (min-width: 992px) {
      padding: 0 8px;
    }
  }

  li a[data-active="true"] {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-right: 16px;
  }
  li a[data-active="false"] {
    display: none;
  }
  li a,
  li a:hover,
  li a:focus {
    color: #fff;
  }
}
@media screen and (max-width: 992px) {
  .cagov-language-switcher ul li a[data-active="true"] {
    font-size: 13px;
    margin-right: 8px;
  }
}

#skip-to-content a {
  background-color: transparent;
}