[dir="rtl"] {
  /* Reorient arrows on How it works section */
  .hiw-step-1,
  .hiw-step-3 {
    .hiw-arrow {
      transform: scaleX(-1);
    }
  }

  .hiw-step-2 {
    .hiw-arrow {
      transform: scale(-1);
    }
  }

  .findings-adornment, .data-insights-adornment, .download-the-data-adornment {
    display: none;
  }

  .findings-quote-block {
    text-align: right;
  }

  .findings-barchart-item {
    padding-left: 0;
    padding-right: 1rem;
  }

  .findings-barchart-item-caption {
    padding-right: 0;
    padding-left: 2rem;
  }

  .findings-barchart-button > img {
    transform: rotate(180deg);
  }

  div.findings-quote {
    padding-left: 0;
    padding-right: 3.5rem;
    background-position: 100% 0;
  }

  div.findings-barchart-item-approval {
    text-align: left;
  }
}