[dir="rtl"] {
  /* Reorient arrows on How it works section */
  .hiw-step-1,
  .hiw-step-3 {
    .hiw-arrow {
      transform: scaleX(-1);
    }
  }

  .hiw-step-2 {
    .hiw-arrow {
      transform: scale(-1);
    }
  }

  .findings-adornment, .data-insights-adornment, .download-the-data-adornment {
    display: none;
  }

  .findings-quote-block {
    text-align: right;
  }

  .findings-barchart-item {
    padding-left: 0;
    padding-right: 1rem;
  }

  .findings-barchart-item-caption {
    padding-right: 0;
    padding-left: 2rem;
  }

  .findings-barchart-button > img {
    transform: rotate(180deg);
  }

  div.findings-quote {
    padding-left: 0;
    padding-right: 3.5rem;
    background-position: 100% 0;
  }

  div.findings-barchart-item-approval {
    text-align: left;
  }

  img.insights-back-button-icon {
    width: 8px;
    margin-right: 0;
    margin-left: 0.5rem;
    transform: rotate(180deg);
    position: relative;
    top: -2px;
  }

  .quote-card {
    direction: ltr;
  }

  /* Hero adornment - position on left for RTL */
  .e3-hero-adornment {
    right: auto;
    left: 0;
    @media (width <= 991px) {
      right: auto;
      left: -44px;
    }
  }

  /* Stay-informed section background image - position on left for RTL */
  section#stay-informed {
    background-position: top left;
  }

  /* Quote balloon - position on right for RTL */
  div.quote {
    padding-left: 0;
    padding-right: 3.5rem;
    background-position: top right;
  }

  @media (min-width: 1200px) {
    .engca-hero-person {
      background: var(--navy);
    }
  }
}
