---
title: Tungkol sa programa
description: Kung paano bibigyang kapangyarihan ng programang ito ang mga taga-California na magsalita at maimpluwensyahan ang patakaran.
keywords:
  - engagement
  - issues
  - california
  - government
tags:
  - pages
---
{% extends "../_includes/base-about.njk" %}
