---
description: Engaged California ay isang online platform na nagpapahintulot sa mga taga-California na maging mas madali na mag-alok ng mga salita sa pamahalaan.
keywords:
  - engagement
  - issues
  - california
  - government
permalink: /tl/
---
{% extends "../_includes/base-homepage.njk" %}

